<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_BIRTHDAYS}</h3>
			<!-- IF BIRTHDAY_LIST -->
			<strong>{L_CONGRATULATIONS}: {BIRTHDAY_LIST}</strong>
			<!-- ELSE -->
			{L_NO_BIRTHDAYS}
			<!-- ENDIF -->
			<h3>{L_BIRTHDAYS_AHEAD}</h3>
			<!-- IF BIRTHDAYS_AHEAD_LIST -->
			<strong>{BIRTHDAYS_AHEAD_LIST}</strong>
			<!-- ELSE -->
			{L_NO_BIRTHDAYS_AHEAD}
			<!-- ENDIF -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />