<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_CLOCK}</h3>
			<div style="text-align: center;">
			<object type="application/x-shockwave-flash" data="portal/images/clock.swf" width="160" height="70">
            <param name="wmode" value="transparent" />
            <param name="movie" value="portal/images/clock.swf" />
            </object> 
			</div>
			<br />
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
