<!--version $Id$ //-->
<form action="{S_LOGIN_ACTION}" method="post">
<div class="portal-panel">
	<div class="inner">
		<span class="portal-corners-top"><span></span></span>
			<h3><a href="{U_LOGIN_LOGOUT}"><img src="{T_THEME_PATH}/images/portal/portal_login.gif" width="17px" height="18px" alt=""/>&nbsp;{L_LOGIN_LOGOUT}</a></h3>

			<span class="genmed">{L_USERNAME}:</span><br />
			<input type="text" tabindex="1" name="username" id="username" size="25" value="" class="inputbox autowidth" /><br /><br /> 
			<span class="genmed">{L_PASSWORD}:</span><br />
			<input type="password" tabindex="2" id="password" name="password" size="25" class="inputbox autowidth" /> 
		
		<!-- IF S_DISPLAY_FULL_LOGIN -->			
			<br /><br />
			<!-- IF S_AUTOLOGIN_ENABLED -->
			<input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_UM_LOG_ME_IN}</span><br />
			<!-- ENDIF -->
			<!-- 
			<input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_UM_HIDE_ME}</span><br />
			-->	
		<!-- ENDIF -->		

			<br />
			<input type="hidden" name="redirect" value="{U_PORTAL}" />
			<input type="submit" name="login" tabindex="5" value="{L_LOGIN}" class="button1" />
			
		<span class="portal-corners-bottom"><span></span></span>
	</div>
</div>
</form>
<br style="clear:both" />