<!--version $Id$ //-->
<div class="portal-panel">
	<div class="inner">
		<span class="portal-corners-top"><span></span></span>
			<h3><img src="{T_THEME_PATH}/images/portal/portal_topposter.gif" width="18px" height="14px" alt=""/>&nbsp;{L_TOP_POSTER}</h3>
			<span style="float:left;"><strong>{L_USERNAME}</strong></span>
			<span style="float:right;padding-right:10px;"><strong>{L_POSTS}</strong></span><br />
			<!-- BEGIN top_poster -->
			<span style="float:left;"><img src="portal/images/member.gif" height="15" width="15" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;">{top_poster.USERNAME_FULL}</span>
			<span style="float:right;padding-right:10px; padding-top:2px;"><a href="{top_poster.S_SEARCH_ACTION}">{top_poster.POSTER_POSTS}</a></span><br style="clear:both" />
			<!-- END top_poster -->
		<span class="portal-corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />