<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_WELCOME}</dt></dl></li>
		</ul>
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
				<div class="postbody" style="width: 100%">
					<div class="content">{PORTAL_WELCOME_INTRO}</div>
				</div>
			<span class="corners-bottom"><span></span></span></div>
		</div>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>
		
<br style="clear:both" />