<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_WORDGRAPH}</dt></dl></li>
		</ul>
		<ul class="topiclist forums">
			<li><dl>
				<dd class="posts_portal"  style="border-left:0px">
			<!-- BEGIN wordgraph -->
			<a href="{wordgraph.WORD_SEARCH_URL}"><span style="font-size: {wordgraph.WORD_FONT_SIZE}px; margin: 0 0 0 3px;">{wordgraph.WORD}</span></a>
			<!-- END wordgraph -->
</dd>
			</dl></li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
		
<br style="clear:both" />