/* Portal clock
-------------------------------------- */
#portal-clock {
	position: relative;
	width: 128px;
	margin: -20px auto;
}

.rtl #portal-clock {
	/* Arabic clocks are ltr */
	direction: ltr;
}

#portal-clock-front, #portal-clock-back {
	position: absolute;
	top: 0;
}

#portal-clock-front-upper div {
	height: 21px;
	position: absolute;
	vertical-align: bottom;
	visibility: hidden;
}

#portal-clock-front-lower div {
	height: 20px;
	position: absolute;
	vertical-align: top;
	visibility: hidden;
}

#portal-clock-back-upper div {
	position: absolute;
	vertical-align: bottom;
}

#portal-clock-back-lower div {
	position: absolute;
	vertical-align: top;
}

.portal-clock-spacer-up {
	content: url("./images/portal/spacer_up.png");
	float: left;
}

.portal-clock-spacer-down {
	content: url("./images/portal/spacer_down.png");
	float: left;
}

#portal-clock-back-seconds-up-left, #portal-clock-back-seconds-up-right,
#portal-clock-front-minutes-up-left, #portal-clock-front-minutes-up-right,
#portal-clock-back-minutes-up-left, #portal-clock-back-minutes-up-right,
#portal-clock-front-seconds-up-left, #portal-clock-front-seconds-up-right,
#portal-clock-back-minutes-down-left, #portal-clock-back-minutes-down-right,
#portal-clock-back-seconds-down-left, #portal-clock-back-seconds-down-right,
#portal-clock-front-minutes-down-left, #portal-clock-front-minutes-down-right,
#portal-clock-front-seconds-down-left, #portal-clock-front-seconds-down-right {
	width: 21px;
	height: 21px;
	background-position: 0 0;
	background: url("../../all/theme/images/portal/portal_clock_single.png") no-repeat;
}

/* Minutes start
-------------------------------------- */
#portal-clock-back-minutes-up-left{
	background-position: 0 0;
	margin: 0 0 0 43px;
}

#portal-clock-back-minutes-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 64px;
}

#portal-clock-front-minutes-up-left {
	background-position: 0 0;
	margin: 0 0 0 43px;
}

#portal-clock-front-minutes-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 63px;
}

#portal-clock-back-minutes-down-left{
	background-position: 0 -22px;
	margin: 21px 0 0 43px;
}

#portal-clock-back-minutes-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 64px;
}

#portal-clock-front-minutes-down-left {
	background-position: 0 -22px;
	margin: 21px 0 0 42px;
}

#portal-clock-front-minutes-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 63px;
}

/* Seconds start
---------------------------------------- */
#portal-clock-back-seconds-up-left{
	background-position: 0 0;
	margin: 0 0 0 85px;
}

#portal-clock-back-seconds-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 106px;
}

#portal-clock-front-seconds-up-left {
	background-position: 0 0;
	margin: 0 0 0 84px;
}

#portal-clock-front-seconds-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 105px;
}

#portal-clock-back-seconds-down-left{
	background-position: 0 -22px;
	margin: 21px 0 0 85px;
}

#portal-clock-back-seconds-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 106px;
}

#portal-clock-front-seconds-down-left {
	background-position: 0 -22px;
	margin: 21px 0 0 84px;
}

#portal-clock-front-seconds-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 105px;
}

/* Hours start
---------------------------------------- */
#portal-clock-back-hours-up, #portal-clock-front-hours-up {
	width: 42px;
	height: 21px;
	background: url("../../all/theme/images/portal/portal_clock_double.png") no-repeat;
	background-position: 0 0;
	vertical-align: bottom;
	display: inline-block;
	margin: 0 0 0 0;
}

#portal-clock-back-hours-down, #portal-clock-front-hours-down {
	width: 42px;
	height: 20px;
	background: url("../../all/theme/images/portal/portal_clock_double.png") no-repeat;
	background-position: 0 -44px;
	vertical-align: top;
	display: inline-block;
	margin: 21px 0 0 0;
}

@media all\0 {
	#portal-clock-back-hours-down, #portal-clock-front-hours-down {
		margin-left: -1px;
	}
}

.portal-pagination ul {
	display: inline-block;
	list-style: none !important;
	margin-left: 5px;
}

.portal-pagination ul li {
	display: inline-block !important;
	padding: 0;
	font-size: 100%;
	line-height: normal;
}

.portal-arrow-bullet {
	background: url("./images/portal/arrowbullet.gif") no-repeat;
	padding-left: 12px;
}

.rtl .portal-arrow-bullet {
	background: url("./images/portal/arrowbullet_rtl.gif") no-repeat;
}

.portal-user-span {
	background-image: url("../../all/theme/images/portal/portal_user.png");
	padding-left: 16px;
	padding-top: 16px;
	margin-bottom: 2px;
}

.portal-arrow-left-icon {
	background-image: url('../../all/theme/images/portal/cal_icon_left_arrow.png');
	padding-left: 16px;
	padding-top: 16px;
	float: left;
	margin-bottom: 2px;
}

.portal-arrow-right-icon {
	background-image: url('../../all/theme/images/portal/cal_icon_right_arrow.png');
	padding-left: 16px;
	padding-top: 16px;
	float: right;
	margin-bottom: 2px;
}

.portal-paypal-icon {
	background-image: url("../../all/theme/images/portal/paypal.gif");
	background-repeat: no-repeat;
	padding-left: 73px;
	padding-top: 44px;
	float: left;
	margin: 5px;
}
