<!--version $Id$ //-->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th><span style="float: left"><img src="{T_THEME_PATH}/images/portal/portal_birthday.png" width="16px" height="16px" alt="" />&nbsp;{L_BIRTHDAYS}</span></th>
	</tr>
	<tr class="row1">
		<td>
			<!-- IF BIRTHDAY_LIST -->
			<strong>{L_CONGRATULATIONS}:<br />{BIRTHDAY_LIST}</strong>
			<!-- ELSE -->
			{L_NO_BIRTHDAYS}
			<!-- ENDIF -->
		</td>
	</tr>
	<tr class="row1">
		<td>
			<strong>{L_BIRTHDAYS_AHEAD}:</strong>
			<br />
			<!-- IF BIRTHDAYS_AHEAD_LIST -->
			{BIRTHDAYS_AHEAD_LIST}
			<!-- ELSE -->
			{L_NO_BIRTHDAYS_AHEAD}
			<!-- ENDIF -->
		</td>
	</tr>
</table>
<br />