<!--version $Id$ //-->
{$LR_BLOCK_H_L}<img src="{T_THEME_PATH}/images/portal/portal_style.png" width="16px" height="16px" alt="" />&nbsp;{L_BOARD_STYLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<tr class="row1">
		<td>
			<script type="text/javascript">
			<!--
			// borrowed from forumimages.com !!
			function jumpMenu(targ, selObj, restore)
			{
				eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value + "'");
				if (restore) selObj.selectedIndex = 0;
			}
			//-->
			</script>
		<form method="get" action="{S_STYLE_ACTION}" onsubmit="if(document.jumpbox.f.value == -1){return false;}">
		<fieldset class="style_change">
			<select style="width: 150px;" name="demo" id="demo" onchange="jumpMenu('parent',this,0)">
				{STYLE_SELECT}
			</select>
			</fieldset>
		</form>
		</td>
	</tr>
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}