<!--version $Id$ //-->
{$LR_BLOCK_H_L}<img src="{T_THEME_PATH}/images/portal/portal_clock.png" width="16px" height="16px" alt="" />&nbsp;{L_CLOCK}{$LR_BLOCK_H_R}
	<tr class="row1">
		<td style="text-align:center;">
			<object type="application/x-shockwave-flash" data="{T_THEME_PATH}/images/portal/board3clock.swf" width="140" height="140">
            <param name="wmode" value="transparent" />
            <param name="movie" value="{T_THEME_PATH}/images/portal/board3clock.swf" />
            </object> 
		</td>
	</tr>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<br />