<!--version $Id: forumlist_search.html 592 2009-12-15 12:10:32Z marc1706 $ //-->

<br clear="all" />
<table class="legend">
	<tr>
		<td width="20" align="center">{FORUM_NEW_IMG}</td>
		<td><span class="gensmall">{L_NEW_POSTS}</span></td>
		<td>&nbsp;&nbsp;</td>
		<td width="20" align="center">{FORUM_IMG}</td>
		<td><span class="gensmall">{L_NO_NEW_POSTS}</span></td>
		<td>&nbsp;&nbsp;</td>
		<td width="20" align="center">{FORUM_LOCKED_IMG}</td>
		<td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
	</tr>
</table>
<br clear="all" />