<!--version $Id$ //-->
<!-- IF U_RESTORE_PERMISSIONS -->
{$C_BLOCK_H_L}{L_INFORMATION}{$C_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	</tr>
	<tr class="row1">
		<td>
			&raquo; <a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a>
		</td>
	</tr>
</table>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<br />
<!-- ELSE -->
{$C_BLOCK_H_L}{GEN_TITLE}{$C_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	</tr>
	<tr class="row1">
		<td>
			{GEN_MESSAGE}
		</td>
	</tr>
</table>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<!-- ENDIF -->