<!--version $Id: leaders_ext.html 606 2010-01-19 22:46:35Z marc1706 $ //-->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{T_THEME_PATH}/images/portal/portal_team.png" width="16" height="16" alt="" />&nbsp;<!-- ENDIF -->{L_THE_TEAM}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<!-- BEGIN group -->
		<tr class="row3">
			<td>
				<strong><a href="{group.U_GROUP}" style="color: #{group.GROUP_COLOUR};" class="username-coloured">{group.GROUP_NAME}</a></strong>
			</td>
		</tr>
		<!-- BEGIN member -->
			<tr  class="row1">
				<td>
					<span style="float:left;"><img src="{T_THEME_PATH}/images/portal/portal_user.png" width="16" height="16" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;"><strong>{group.member.USERNAME_FULL}</strong></span><br style="clear:both" />
				</td>
			</tr>
		<!-- END member -->
	<!-- BEGINELSE -->
		<tr  class="row1">
			<td>
				{L_NO_GROUPS_P}
			</td>
		</tr>
	<!-- END group -->
</table>	
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}