<!--version $Id$ //-->
{$LR_BLOCK_H_L}<img src="{T_THEME_PATH}/images/portal/portal_team.png" width="16px" height="16px" alt="" />&nbsp;{L_THE_TEAM}{$LR_BLOCK_H_R}
	<tr class="row3">
		<td>
			<strong>{L_ADMINISTRATORS}</strong>
		</td>
	</tr>
	<!-- BEGIN admin -->
	<tr  class="row1">
		<td>
			<span style="float:left;"><img src="{T_THEME_PATH}/images/portal/portal_user.png" width="16px" height="16px" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;"><strong>{admin.USERNAME_FULL}</strong></span><br style="clear:both" />
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr  class="row1">
		<td>
			{L_NO_ADMINISTRATORS_P}
		</td>
	</tr>
	<!-- END admin -->
	<tr  class="row3">
		<td>
			<strong>{L_MODERATORS}</strong>
		</td>
	</tr>
	<!-- BEGIN mod -->
	<tr  class="row1">
		<td>
			<span style="float:left;"><img src="{T_THEME_PATH}/images/portal/portal_user.png" width="16px" height="16px" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;"><strong>{mod.USERNAME_FULL}</strong></span><br style="clear:both" />
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr  class="row1">
		<td>
			{L_NO_MODERATORS_P}
		</td>
	</tr>
	<!-- END mod -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<br />