<!--version $Id$ //-->
{$LR_BLOCK_H_L}<img src="{T_THEME_PATH}/images/portal/portal_links.png" width="16px" height="16px" alt="" />&nbsp;{L_LINKS}{$LR_BLOCK_H_R}
	<tr class="row1">
		<td>
			<ul class="ul-link">
			<!-- IF .link -->
				<!-- BEGIN link -->
				<li><a href="{link.URL}" title="{link.TEXT}">{link.TEXT}</a></li>
				<!-- END link -->
			<!-- ELSE -->
				<span style="float:left;" class="gensmall"><strong>{L_NO_LINKS}</strong></span><br />
			<!-- ENDIF -->
			</ul>
		</td>
	</tr>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<br />