<!--version $Id$ //-->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th><span style="float: left"><img src="{T_THEME_PATH}/images/portal/portal_link_us.png" width="16px" height="16px" alt="" />&nbsp;{L_LINK_US}</span></th>
	</tr>
	<tr class="row1">
		<td>
			{LINK_US_TXT}<br style="clear:both" />
			<input type="text" tabindex="9" size="autowidth" value="{U_LINK_US}" class="inputbox autowidth" onclick="this.focus();this.select();" /><br style="clear:both" />
		</td>
	</tr>
</table>
<br />