<!--version $Id$ //-->
<div id="pagecontent">
<table class="tablebg" cellspacing="1" width="100%">
		<tr class="nav">
			<td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->6<!-- ELSE -->5<!-- ENDIF -->" valign="middle" align="center">{L_LATEST_NEWS} <a name="n{news_row.N_ID}"></a></td>
		</tr>
		<tr>
			<!-- IF S_TOPIC_ICONS -->
				<th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
			<!-- ELSE -->
				<th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
			<!-- ENDIF -->
			<th>&nbsp;{L_REPLIES}&nbsp;</th>
			<th>&nbsp;{L_VIEWS}&nbsp;</th>
			<th>&nbsp;{L_LAST_POST}&nbsp;</th>
		</tr>
	<!-- BEGIN news_row -->
	<!-- IF news_row.S_NO_TOPICS  -->
	<tr class="row1">
		<td>
			<span class="gensmall"><strong>{L_NO_NEWS}</strong></span>
		</td>
	</tr>
	<!-- ELSE -->
			<tr>
				<td class="row1" width="25" align="center">{news_row.TOPIC_FOLDER_IMG}</td>
					<td class="row1" width="25" align="center"><!-- IF news_row.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{news_row.TOPIC_ICON_IMG}" width="{news_row.TOPIC_ICON_IMG_WIDTH}" height="{news_row.TOPIC_ICON_IMG_HEIGHT}" alt="" title="" /><!-- ENDIF --></td>
				<td class="row1">
				<!-- IF news_row.PAGINATION --><span style="float: right; font-size:0.9em;"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {news_row.PAGINATION} ] </span><!-- ENDIF -->
					{news_row.ATTACH_ICON_IMG} <!-- IF news_row.S_POLL --> <strong style="font-size:1.1em;">{L_POLL}: </strong><!-- ENDIF --><a title="{L_POSTED}: {news_row.FIRST_POST_TIME}" href="{news_row.U_VIEW_TOPIC}" class="topictitle">{news_row.TITLE}</a>
					<p class="gensmall">{L_POSTED} {L_POST_BY_AUTHOR} {news_row.POSTER_FULL} {L_POSTED_ON_DATE} {news_row.TIME}
					<!-- IF news_row.FORUM_NAME -->
						<br />{L_FORUM}: <a href="{news_row.U_VIEWFORUM}" style="font-weight: bold;">{news_row.FORUM_NAME}</a>
					<!-- ENDIF -->
					</p>
				</td>
				<td class="row1" width="50" align="center"><p class="topicdetails">{news_row.REPLIES}</p></td>
				<td class="row2" width="50" align="center"><p class="topicdetails">{news_row.TOPIC_VIEWS}</p></td>
				<td class="row1" width="140" align="center">
					<p class="topicdetails"><!-- IF news_row.S_UNREAD_INFO --><a href="{news_row.U_VIEW_UNREAD}">{NEWEST_POST_IMG}</a><!-- ELSE --><a href="{news_row.U_LAST_COMMENTS}">{READ_POST_IMG}</a><!-- ENDIF -->
					{POSTED_BY_TEXT} {L_POST_BY_AUTHOR}: {news_row.USERNAME_FULL_LAST}
					</p>
					<p class="topicdetails" style="white-space: nowrap;">{L_POSTED_ON_DATE} {news_row.LAST_POST_TIME}</p>
				</td>		
			</tr>
	<!-- ENDIF -->
	<!-- IF news_row.S_LAST_ROW -->
	<!-- IF NP_PAGINATION or TOTAL_NEWS -->
	<tr class="row<!-- IF news_row.S_ROW_COUNT is even -->2<!-- ELSE -->1<!-- ENDIF -->">
		<td class="gensmall" valign="middle" align="right" nowrap="nowrap" colspan="<!-- IF S_TOPIC_ICONS -->6<!-- ELSE -->5<!-- ENDIF -->">{TOTAL_NEWS}
		<!-- IF NP_PAGE_NUMBER --><!-- IF NP_PAGINATION --> &bull; {NP_PAGE_NUMBER} &bull; <span>{NP_PAGINATION}</span><!-- ELSE --> &bull; {NP_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF --></td>
	</tr>
	<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- END news_row -->
</table>
<br />
</div>