<!-- IF S_PORTAL_ALL === true -->
<div id="portal-page-body">
<div id="portal-body">
<div class="portal-body-wrapper">
	<!-- INCLUDE portal/_block_config.html -->
	<div class="portal-body-center" style="margin: <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->0 <!-- IF S_LEFT_COLUMN -->{S_PORTAL_LEFT_COLUMN}px<!-- ELSE -->-{$BLOCK_DISTANCE}<!-- ENDIF --> 0 <!-- IF S_RIGHT_COLUMN -->{S_PORTAL_RIGHT_COLUMN}px<!-- ELSE -->-{$BLOCK_DISTANCE}<!-- ENDIF --><!-- ELSE -->0 <!-- IF S_RIGHT_COLUMN -->{S_PORTAL_RIGHT_COLUMN}px<!-- ELSE -->-{$BLOCK_DISTANCE}<!-- ENDIF --> 0 <!-- IF S_LEFT_COLUMN -->{S_PORTAL_LEFT_COLUMN}px<!-- ELSE -->-{$BLOCK_DISTANCE}<!-- ENDIF --><!-- ENDIF -->; padding: 0 {$BLOCK_DISTANCE};">
<!-- ENDIF -->
