{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<tr class="row1" style="height: 5em;">
		<!-- IF not B3P_CLOCK_SRC -->
		<td style="text-align: center; height: 5em; margin: 0 auto;">
			<div id="portal-clock">
				<div id="portal-clock-back">
					<div id="portal-clock-back-upper">
						<div class="portal-clock-spacer-up"></div><div id="portal-clock-back-hours-up"></div>
						<div id="portal-clock-back-minutes-up-left" ></div><div id="portal-clock-back-minutes-up-right"></div>
						<div id="portal-clock-back-seconds-up-left"></div><div id="portal-clock-back-seconds-up-right"></div>
					</div>
					<div id="portal-clock-back-lower">
						<div class="portal-clock-spacer-down"></div><div id="portal-clock-back-hours-down"></div>
						<div id="portal-clock-back-minutes-down-left"></div><div id="portal-clock-back-minutes-down-right"></div>
						<div id="portal-clock-back-seconds-down-left"></div><div id="portal-clock-back-seconds-down-right"></div>
					</div>
				</div>
				<div id="portal-clock-front">
					<div id="portal-clock-front-upper">
						<div class="portal-clock-spacer-up"></div><div id="portal-clock-front-hours-up"></div>
						<div id="portal-clock-front-minutes-up-left"></div><div id="portal-clock-front-minutes-up-right"></div>
						<div id="portal-clock-front-seconds-up-left"></div><div id="portal-clock-front-seconds-up-right"></div>
					</div>
					<div id="portal-clock-front-lower">
						<div class="portal-clock-spacer-down"></div><div id="portal-clock-front-hours-down"></div>
						<div id="portal-clock-front-minutes-down-left"></div><div id="portal-clock-front-minutes-down-right"></div>
						<div id="portal-clock-front-seconds-down-left"></div><div id="portal-clock-front-seconds-down-right"></div>
					</div>
				</div>
			</div>
		</td>
		<!-- ELSE -->
		<td style="text-align:center;">
			<br />
			<object type="application/x-shockwave-flash" data="{T_EXT_THEME_PATH}/images/portal/{B3P_CLOCK_SRC}" width="140" height="140">
				<param name="wmode" value="transparent" />
				<param name="movie" value="{T_EXT_THEME_PATH}/images/portal/{B3P_CLOCK_SRC}" />
			</object>
		</td>
		<!-- ENDIF -->
	</tr>
</table>
<!-- IF not B3P_CLOCK_SRC -->
<!-- INCLUDEJS portal/modules/jquery_easing_1_3.js -->
<!-- INCLUDEJS portal/modules/portal_clock.js -->
<!-- ENDIF -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
