{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="row1" style="padding:10px 1px 10px 1px;">
		<div style="text-align: center;">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_xclick" />
				<input type="hidden" name="business" value="{PAY_ACC_SIDE}" />
				<input type="hidden" name="item_name" value="{L_PAY_ITEM}" />
				<input type="hidden" name="no_note" value="1" />
				<input type="hidden" name="no_shipping" value="2" />
				<input type="hidden" name="bn" value="PP-DonationsBF" />
				<input type="hidden" name="tax" value="0" />
				<!-- IF PAY_CUSTOM_SIDE -->
				<input type="hidden" name="custom" value="{PAY_CUSTOM_SIDE}">
				<!-- ENDIF -->
				<input type="text" tabindex="10" name="amount" size="10" maxlength="6" value="" class="inputbox autowidth" title="{L_PAY_MSG}" />
				<select name="currency_code" class="autowidth">
				<!-- BEGIN b3p_donation_currency_side -->
					<option value="{b3p_donation_currency_side.VALUE"<!-- IF b3p_donation_currency_side.SELECTED --> selected="selected"<!-- ENDIF -->>{b3p_donation_currency_side.TITLE}</option>
				<!-- END b3p_donation_currency_side -->
				</select>
				<input type="submit" name="submit" value="{L_DONATION}" class="button1" />
			</form>
		</div>
	</td>
</tr>
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}