{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<tr class="row3">
		<td>
			<strong>{L_ADMINISTRATORS}</strong>
		</td>
	</tr>
	<!-- BEGIN b3p_admins -->
	<tr  class="row1">
		<td>
			<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
			<span class="portal-user-span" style="float:right;"></span><span style="float:right; padding-right:5px; padding-top:2px;"><strong>{b3p_admins.USERNAME_FULL}</strong></span><br style="clear:both" />
			<!-- ELSE -->
			<span class="portal-user-span" style="float:left;"></span><span style="float:left; padding-left:5px; padding-top:2px;"><strong>{b3p_admins.USERNAME_FULL}</strong></span><br style="clear:both" />
			<!-- ENDIF -->
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr  class="row1">
		<td>
			{L_NO_ADMINISTRATORS_P}
		</td>
	</tr>
	<!-- END b3p_admins -->
	<tr  class="row3">
		<td>
			<strong>{L_MODERATORS}</strong>
		</td>
	</tr>
	<!-- BEGIN b3p_moderators -->
	<tr  class="row1">
		<td>
			<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
			<span class="portal-user-span" style="float:right;"></span><span style="float:right; padding-right:5px; padding-top:2px;"><strong>{b3p_moderators.USERNAME_FULL}</strong></span><br style="clear:both" />
			<!-- ELSE -->
			<span class="portal-user-span" style="float:left;"></span><span style="float:left; padding-left:5px; padding-top:2px;"><strong>{b3p_moderators.USERNAME_FULL}</strong></span><br style="clear:both" />
			<!-- ENDIF -->
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr  class="row1">
		<td>
			{L_NO_MODERATORS_P}
		</td>
	</tr>
	<!-- END b3p_moderators -->
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
