<!-- BEGIN portal_links -->
<!-- IF portal_links.MODULE_ID eq $MODULE_ID -->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<!-- BEGIN links -->
		<tr class="row1">
			<td>
				<a class="portal-arrow-bullet" href="{portal_links.links.LINK_URL}" title="{portal_links.links.LINK_TITLE}" <!-- IF portal_links.links.NEW_WINDOW -->onclick="window.open('{portal_links.links.LINK_URL}'); return false;"<!-- ENDIF -->>&nbsp;{portal_links.links.LINK_TITLE}</a>
			</td>
		</tr>
	<!-- BEGINELSE -->
		<tr class="row1">
			<td>
				<span style="float: left" class="gensmall"><strong>{L_LINKS_NO_LINKS}</strong></span><br />
			</td>
		</tr>
	<!-- END links -->
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<!-- ENDIF -->
<!-- END portal_links -->
