<!-- BEGIN portal_menu -->
<!-- IF portal_menu.MODULE_ID eq $MODULE_ID -->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%" role="menu">
	<!-- BEGIN category -->
			<tr class="row3">
				<td>
					<strong>{portal_menu.category.CAT_TITLE}</strong>
				</td>
			</tr>
			<!-- BEGIN links -->
			<tr class="row1">
				<td>
					<a class="portal-arrow-bullet" href="{portal_menu.category.links.LINK_URL}" role="menuitem" title="{portal_menu.category.links.LINK_TITLE}" <!-- IF portal_menu.category.links.NEW_WINDOW -->onclick="window.open('{portal_menu.category.links.LINK_URL}'); return false;"<!-- ENDIF -->>&nbsp;{portal_menu.category.links.LINK_TITLE}</a>
				</td>
			</tr>
			<!-- END links -->
	<!-- BEGINELSE -->
			<tr class="row1">
				<td>
					<span style="float:left;" class="gensmall"><strong>{L_MENU_NO_LINKS}</strong></span><br />
				</td>
			</tr>
	<!-- END category -->
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<!-- ENDIF -->
<!-- END portal_menu -->
