<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         bootstrap="../../../../tests/bootstrap.php">
	<testsuites>
		<testsuite name="Extension Test Suite">
			<directory suffix="_test.php">./tests</directory>
			<exclude>./tests/functional</exclude>
		</testsuite>
		<testsuite name="Extension Functional Tests">
			<directory suffix="_test.php">./tests/functional/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>../../../../phpBB/ext/board3/portal/</directory>
			<exclude>
				<directory>../../../../phpBB/ext/board3/portal/tests/</directory>
				<directory>../../../../phpBB/ext/board3/portal/develop/</directory>
				<directory>../../../../phpBB/ext/board3/portal/migrations/</directory>
				<directory>../../../../phpBB/ext/board3/portal/language/</directory>
				<directory>../../../../phpBB/ext/board3/portal/vendor/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
