/* inner corners */

span.portal-corners-top-inner {
	margin: 0 -5px;
}

span.portal-corners-bottom-inner {
	margin: 0 -5px;
	clear: both;
}

span.portal-corners-top-inner, span.portal-corners-bottom-inner{
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

/* main menu, user menu and the links */

.portal-navigation{
	width: auto;
}

.portal-navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.portal-navigation ul li{
	padding-bottom: 2px; /*bottom spacing between menu items*/
}

.portal-navigation ul li a{
	background-image: url("{T_THEME_PATH}/images/portal/arrowbullet.gif");
	background-repeat: no-repeat;
	background-position: center left; /*custom bullet list image*/
	display: block;
	padding: 2px 0;
	padding-left: 19px; /*link text is indented 19px*/
	font-weight: bold;
	font-size: 90%;
}

.portal-navigation div.menutitle{
	padding: 1px 0;
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

.portal-navigation tr.menutitle{
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

.calendar-info {
	list-style-type: none;
}

.portal-events li.row
{
	border-top: 0px;
	list-style-type: none;
}

/*
* top spacing between portal body table and headerbar spacing is usually 10px
*/
#portal-body {
	padding-top: 10px;
}

/*
* This is needed in order to have the same spacing between blocks
* as we have between the top blocks and the headerbar
*/
#portal-body .forabg {
	margin-bottom: 0px;
}

/**
* margin spacing as in default prosilver for the forumlist
*/
#portal-forumlist .forabg {
	margin-bottom: 4px;
}

/* RTL language fixes */
.rtl .portal-navigation ul li a{
	background-image: url("{T_THEME_PATH}/images/portal/arrowbullet_rtl.gif");
	background-position: center right; /*custom bullet list image*/
	padding-right: 19px; /*link text is indented 19px*/
}
