/*  Board3Portal Stylesheet. 
    --------------------------------------------------------------
	Style name:		Board3Portal
	Based on style:	proSilver (this is the default phpBB 3 style)
	Author: Christian Henseler (http://www.graphich-corner.ch) pfotenwelt	
	
	Copyright 2008 www.graphich-corner.ch  und www.board3.de
    --------------------------------------------------------------
*/
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

.portal-panel {
	background-color: #DDE9F0;
	color: #28313F;
	margin-bottom: 4px;
	padding: 0 10px;
	color: #3f3f3f;
}

.portal-panel h3 {
	margin: 0.5em 0;
	border-bottom:solid 1px #0076B1;
}

.portal-panel p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

.portal-panel h4 {
	margin: 0.4em 0;
	border-bottom: 1px #3366CC dashed;
}
/* Round cornered boxes and backgrounds
---------------------------------------- */
* html span.portal-corners-top, * html span.portal-corners-bottom { 
    background-image: url("{T_THEME_PATH}/images/portal/corners_left.gif"); 
}
* html span.portal-corners-top span, * html span.portal-corners-bottom span { 
    background-image: url("{T_THEME_PATH}/images/portal/corners_right.gif"); 
}

span.portal-corners-top {
	background-image: url("{T_THEME_PATH}/images/portal/corners_left.png");
	background-position: 0 0;
	margin: 0 -10px;
}

span.portal-corners-top span {
	background-image: url("{T_THEME_PATH}/images/portal/corners_right.png");
	background-position: 100% 0;
}

span.portal-corners-bottom {
	background-image: url("{T_THEME_PATH}/images/portal/corners_left.png");
	background-position: 0 100%;
	margin: 0 -10px;
	clear: both;
}


span.portal-corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/portal/corners_right.png");
	background-position: 100% 100%;
}

span.portal-corners-top, span.portal-corners-bottom, span.portal-corners-top span, span.portal-corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

.panel span.portal-corners-top, .panel span.portal-corners-bottom {
margin: 0 -10px;
}

/*inner corners*/

* html span.portal-corners-top-inner, * html span.portal-corners-bottom-inner { 
    background-image: url("{T_THEME_PATH}/images/portal/corners_left1.gif"); 
}
* html span.portal-corners-top-inner span, * html span.portal-corners-bottom-inner span { 
    background-image: url("{T_THEME_PATH}/images/portal/corners_right1.gif"); 
}

span.portal-corners-top-inner {
	background-image: url("{T_THEME_PATH}/images/portal/corners_left1.png");
	background-position: 0 0;
	margin: 0 -10px;
}

span.portal-corners-top-inner span {
	background-image: url("{T_THEME_PATH}/images/portal/corners_right1.png");
	background-position: 100% 0;
}

span.portal-corners-bottom-inner {
	background-image: url("{T_THEME_PATH}/images/portal/corners_left1.png");
	background-position: 0 100%;
	margin: 0 -10px;
	clear: both;
}


span.portal-corners-bottom-inner span {
	background-image: url("{T_THEME_PATH}/images/portal/corners_right1.png");
	background-position: 100% 100%;
}

span.portal-corners-top-inner, span.portal-corners-bottom-inner, span.portal-corners-top-inner span, span.portal-corners-bottom-inner span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

.panel span.portal-corners-top-inner, .panel span.portal-corners-bottom-inner {
margin: 0 -10px;
}

/*Portal-menu*/

.portal-navigation{
border: 1px solid black;
border-bottom-width: 1px;
width: auto;
}

.portal-navigation ul{
margin: 0;
padding: 0;
list-style: none;
font: normal 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
font-size: 12px;
}

.portal-navigation li a{
display: block;
padding: 3px 0;
padding-left: 9px;
width: auto; /*185px minus all left/right paddings and margins*/
text-decoration: none;
color: white;
background-color: #11A1E8;
background-image: url("{T_THEME_PATH}/images/portal/bg_portalmenu.gif");
border-bottom: 1px solid #90bade;
border-left: 7px solid #6ACEFF;
}

* html #portal-navigation li a{ /*IE only */
width: auto; /*IE 5*/
w\idth: auto; /*185px minus all left/right paddings and margins*/
}

.portal-navigation li a:hover {
background-color: #2586d7;
background-image: url("{T_THEME_PATH}/images/portal/bg_portalmenu1.gif");
border-left-color: #AA0000;
}

.portal-navigation div.menutitle{
color: #000000;
border-bottom: 1px solid #6ACEFF;
padding: 1px 0;
padding-left: 5px;
background-color: #6ACEFF;
font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
font-size: 12px;
}

/* Portal linkblock*/

.arrowlistmenu{
width: auto; /*width of menu*/
}

.arrowlistmenu ul{
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color: #A70303;
background-image: url("{T_THEME_PATH}/images/portal/arrowbullet.gif");
background-repeat: no-repeat;
background-position: center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #AA0000;
font-size: 90%;
}

.arrowlistmenu ul li a:visited{
color: #A70303;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #0076B1;
background-color: #B9CBD2;
}