@media (max-width: 870px) {
	.portal-body-center dd.posts, .portal-body-center dd.views, .portal-body-center dd.topics {
		display: none !important;
	}

	.portal-body-center ul.topiclist dt .list-inner {
		margin-right: 60%;
	}

	.rtl .portal-body-center ul.topiclist dt .list-inner {
		margin-right: 0;
		margin-left: 60%;
	}

	.portal-body-center ul.topiclist dt {
		margin-right: -60%;
	}

	.rtl .portal-body-center ul.topiclist dt {
		margin-right: 0;
		margin-left: -60%;
	}

	.portal-body-center dd.lastpost { width: auto; }
}

@media (max-width: 740px)) {
	#portal-right > .portal-clear, #portal-body > .portal-clear, #portal-left > .portal-clear,
	#portal-center > .portal-clear, #portal-login-box .portal-clear { display: none !important; }
}

@media (max-width: 700px) {
	#portal-left ul.topiclist dd, #portal-right ul.topiclist dd { display: block !important; }

	.portal-body-center dt { width: 100% !important; }

	div#portal-left .header dt, div#portal-right .header dt {
		margin-bottom: -7px !important;
	}

	.portal-body-center ul.topiclist dt .list-inner {
		margin-right: 0;
	}
}

@media (max-width: 540px) {
	#portal-left, #portal-right {
		display: none;
	}

	.portal-body-center {
		margin: 0 !important;
		padding: 0 !important;
	}
}
