/* main menu, user menu and the links */

.portal-navigation{
	width: auto;
}

.portal-navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.portal-navigation ul li{
	padding-bottom: 2px; /*bottom spacing between menu items*/
}

.portal-navigation ul li a{
	background-image: url("./images/portal/arrowbullet.gif");
	background-repeat: no-repeat;
	background-position: center left; /*custom bullet list image*/
	display: block;
	padding: 2px 0;
	padding-left: 19px; /*link text is indented 19px*/
	font-weight: bold;
	font-size: 90%;
}

.portal-navigation div.menutitle{
	padding: 1px 0;
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

.portal-navigation tr.menutitle{
	font: bold 90% 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}

.calendar-info {
	list-style-type: none;
}

.portal-events li.row
{
	border-top: 0px;
	list-style-type: none;
}

/**
* Replacement for table layout
*/
#portal-left, #portal-right {
	position: relative;
	float: left;
}

#portal-center-wrapper {
	width: 100%;
	float: left;
	display: block;
}

#portal-column-area {
	width: 100%;
	margin: 0 auto;
}

#portal-left {
	margin-left: -100%;
}

/*
* top spacing between portal body table and headerbar spacing is usually 10px
*/
#portal-body {
	padding-top: 10px;
	width: 100%;
}

/*
* This is needed in order to have the same spacing between blocks
* as we have between the top blocks and the headerbar
*/
#portal-body .forabg {
	margin-bottom: 0px;
}

#portal-body td {
	vertical-align: top;
}

#portal-body .row .pagination {
	padding: 1px 0 1px 12px;
}

#portal-body #viewpoll {
	margin-left: 0px;
	margin-right: 0px;
}

.portal-news-pagination {
	height: 2em;
}

.portal-news-pagination .pagination {
	font-size: 1.1em;
}

/**
* margin spacing as in default prosilver for the forumlist
*/
#portal-forumlist .forabg {
	margin-bottom: 4px;
}

.portal-no-margin {
	margin: 0;
}

.portal-clear {
	clear: both;
}

/* RTL language fixes */
.rtl .portal-navigation ul li a{
	background-image: url("./images/portal/arrowbullet_rtl.gif");
	background-position: center right; /* custom bullet list image */
	padding-right: 19px; /* link text is indented 19px */
}

/* Portal clock
-------------------------------------- */
.portal-clock-wrapper {
	text-align: center;
	min-height: 5em;
	margin: 0 10%;
	/* set a fixed height to get rid of the trembling clock in IE9 */
	height: 50px;
}

.portal-clock {
	position: relative;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.portal-clock * img {
	float: left;
}

.portal-clock-front, .portal-clock-back {
	position: absolute;
	top: 0px;
}

.portal-clock-front-upper div {
	height: 21px;
	position: absolute;
	vertical-align: bottom;
	visibility: hidden;
}

.portal-clock-front-lower div {
	height: 20px;
	position: absolute;
	vertical-align: top;
	visibility: hidden;
}

.portal-clock-back-upper div {
	position: absolute;
	vertical-align: bottom;
}

.portal-clock-back-lower div {
	position: absolute;
	vertical-align: top;
}

.portal-clock-back-seconds-up-left, .portal-clock-back-seconds-up-right,
.portal-clock-front-minutes-up-left, .portal-clock-front-minutes-up-right,
.portal-clock-back-minutes-up-left, .portal-clock-back-minutes-up-right,
.portal-clock-front-seconds-up-left, .portal-clock-front-seconds-up-right,
.portal-clock-back-minutes-down-left, .portal-clock-back-minutes-down-right,
.portal-clock-back-seconds-down-left, .portal-clock-back-seconds-down-right,
.portal-clock-front-minutes-down-left, .portal-clock-front-minutes-down-right,
.portal-clock-front-seconds-down-left, .portal-clock-front-seconds-down-right {
	width: 21px;
	height: 21px;
	background-position: 0 0;
	background: url(./images/portal/portal_clock_single.png) no-repeat;
}

/* Minutes start
-------------------------------------- */
.portal-clock-back-minutes-up-left{
	background-position: 0 0;
	margin: 0 0 0 43px;
}

.portal-clock-back-minutes-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 64px;
}

.portal-clock-front-minutes-up-left {
	background-position: 0 0;
	margin: 0 0 0 43px;
}

.portal-clock-front-minutes-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 63px;
}

.portal-clock-back-minutes-down-left{
	background-position: 0 -22px;
	margin: 21px 0 0 43px;
}

.portal-clock-back-minutes-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 64px;
}

.portal-clock-front-minutes-down-left {
	background-position: 0 -22px;
	margin: 21px 0 0 42px;
}

.portal-clock-front-minutes-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 63px;
}

/* Seconds start
---------------------------------------- */
.portal-clock-back-seconds-up-left{
	background-position: 0 0;
	margin: 0 0 0 85px;
}

.portal-clock-back-seconds-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 106px;
}

.portal-clock-front-seconds-up-left {
	background-position: 0 0;
	margin: 0 0 0 84px;
}

.portal-clock-front-seconds-up-right {
	background-position: 0 -43px;
	margin: 0 0 0 105px;
}

.portal-clock-back-seconds-down-left{
	background-position: 0 -22px;
	margin: 21px 0 0 85px;
}

.portal-clock-back-seconds-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 106px;
}

.portal-clock-front-seconds-down-left {
	background-position: 0 -22px;
	margin: 21px 0 0 84px;
}

.portal-clock-front-seconds-down-right {
	background-position: 0 -65px;
	margin: 21px 0 0 105px;
}

/* Hours start
---------------------------------------- */
.portal-clock-back-hours-up, .portal-clock-front-hours-up {
	width: 42px;
	height: 21px;
	background: url(./images/portal/portal_clock_double.png) no-repeat;
	background-position: 0 0;
	vertical-align: bottom;
	display: inline-block;
	margin: 0 0 0 0;
}

.portal-clock-back-hours-down, .portal-clock-front-hours-down {
	width: 42px;
	height: 20px;
	background: url(./images/portal/portal_clock_double.png) no-repeat;
	background-position: 0 -44px;
	vertical-align: top;
	display: inline-block;
	margin: 21px 0 0 0;
}

@media all\0 {
	.portal-clock-back-hours-down, .portal-clock-front-hours-down {
		margin-left: -1px;
	}
}
