@media only screen and (max-width: 895px), only screen and (max-device-width: 895px)
{
	#portal-body #portal-right { display: none !important; }
}

@media only screen and (max-width: 950px), only screen and (max-device-width: 950px)
{
	dd.responsive-portal-news { display: none !important; }
	.responsive-portal-news dd.posts, .responsive-portal-news dd.views { display: none !important; }
	.responsive-portal-news dt { width: 125% !important; }
	dt#n { width: 125% !important; }
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	.responsive-portal-news dd.lastpost { display: none !important; }
	.responsive-portal-news dt .list-inner { margin-right: 0px !important; }
	.responsive-portal-news dt { width: 100% !important; }
	dt#n { width: 100% !important; }

	.portal-responsive-poll .resultbar {
		display: none !important;
	}
	.portal-responsive-poll dt { width: 45% !important; }
	.portal-responsive-poll dd {
		width: 45% !important;
		float: right !important;
	}
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	#portal-left ul.topiclist dd { display: block !important; }
	.portal-responsive-show { display: block !important; }
	.portal-responsive-hide { display: none !important; }
}
