<!--version $Id$ //-->
<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<div class="forabg"><div class="inner"><span class="corners-top"><span></span></span><ul class="topiclist"><li class="header"><dl class="icon">' -->	
<!-- DEFINE $LR_BLOCK_H_R = '</dl></li></ul><div class="panel bg1" style="margin-bottom: 0px"><div class="inner"><span class="portal-corners-top-inner"></span><div class="postbody" style="width: 100%"><div class="content">' -->
<!-- DEFINE $LR_BLOCK_F_L = '</div></div><span class="portal-corners-bottom-inner"></span></div></div>' -->
<!-- DEFINE $LR_BLOCK_F_R = '<span class="corners-bottom"><span></span></span></div></div><br style="clear:both" />' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<div class="forabg"><div class="inner"><span class="corners-top"><span></span></span><ul class="topiclist"><li class="header"><dl class="icon">' -->	
<!-- DEFINE $C_BLOCK_H_R = '</dl></li></ul><div class="panel bg1" style="margin-bottom: 0px"><div class="inner"><span class="portal-corners-top-inner"></span><div class="postbody" style="width: 100%"><div class="content">' -->
<!-- DEFINE $C_BLOCK_F_L = '</div></div><span class="portal-corners-bottom-inner"></span></div></div>' -->
<!-- DEFINE $C_BLOCK_F_R = '<span class="corners-bottom"><span></span></span></div></div><br style="clear:both" />' -->

<!-- Images-URL //-->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->

<!-- Vertical distance between left/right and center Blocks -->
<!-- DEFINE $BLOCK_DISTANCE = '10px' -->