<!--version $Id: portal_left.html 591 2009-12-11 23:48:49Z marc1706 $ //-->

<!-- IF S_DISPLAY_MAINMENU -->
	<!-- INCLUDE portal/block/main_menu.html -->
<!-- ENDIF -->

<!-- IF S_STYLE_OPTIONS and S_DISPLAY_CHANGE_STYLE -->
	<!-- INCLUDE portal/block/change_style.html -->
<!-- ENDIF -->

<!-- INCLUDE portal/block/additional_blocks_left.html -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
	<!-- INCLUDE portal/block/birthday_list.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_CLOCK -->
	<!-- INCLUDE portal/block/clock.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_PORTALSEARCH and S_DISPLAY_SEARCH -->
	<!-- INCLUDE portal/block/search.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_RANDOM_MEMBER -->
	<!-- INCLUDE portal/block/random_member.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_ATTACHMENTS -->
	<!-- INCLUDE portal/block/attachments.html -->
<!-- ENDIF -->

<!-- IF S_CUSTOM_SMALL -->
	<!-- INCLUDE portal/block/custom_small.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_TOP_POSTERS -->
	<!-- INCLUDE portal/block/top_poster.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_LATEST_MEMBERS -->
	<!-- INCLUDE portal/block/latest_members.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_LINK_US -->
	<!-- INCLUDE portal/block/link_us.html -->
<!-- ENDIF -->