<!-- DEFINE $S_IN_PORTAL = 1 -->
<!-- INCLUDE overall_header.html -->

<!--version $Id$ //-->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<!-- [+] left block area -->
	<td valign="top" style="width: {PORTAL_LEFT_COLUMN}px; padding-right:6px;">
		<br style="clear:both" />
		
		<!-- BEGIN portal_column_left -->
			{portal_column_left.BLOCK_DATA}
		<!-- END portal_column_left -->
		
	</td>
<!-- [-] left block area -->
	<td style="width:4px;" valign="top"></td>

<!-- [+] center block area -->
	<td valign="top">
	<br style="clear:both" />

		<!-- BEGIN portal_column_center -->
			{portal_column_center.BLOCK_DATA}
		<!-- END portal_column_center -->
		
		<br /><div class="copyright">{L_PORTAL_COPY}</div>
	</td>
                         
<!-- [-] center block area -->
	<td style="width:4px;" valign="top"> </td>

<!-- [+] right block area -->
	<td valign="top" style="width: {PORTAL_RIGHT_COLUMN}px; padding-left:6px;">
		<br style="clear:both" />
		
		<!-- BEGIN portal_column_right -->
			{portal_column_right.BLOCK_DATA}
		<!-- END portal_column_right -->

	</td>
<!-- [-] right block area -->
</tr>
</table>

<!--// board3 Portal by www.board3.de //-->
<!-- INCLUDE overall_footer.html -->