{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><!-- IF $FA_ENABLED -->
<i class="icon fa {$FA_ICON}" style="font-size: {$FA_SIZE}px;" aria-hidden="true"></i>
<!-- ELSE -->
<img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />
<!-- ENDIF --><!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	<span class="portal-user-span"><strong>{L_USERNAME}</strong></span>
	<span class="portal-user-annotation"><strong>{L_JOINED}</strong></span><br class="portal-clear" />
	<!-- BEGIN latest_members -->
		<!-- IF $FA_ENABLED -->
			<span class="portal-user-span"><i class="icon fa fa-user"></i>&nbsp;&nbsp;{latest_members.USERNAME_FULL}</span>
		<!-- ELSE -->
			<span class="portal-user-icon"></span><span class="portal-user-span">{latest_members.USERNAME_FULL}</span>
		<!-- ENDIF -->
		<span class="portal-user-annotation">{latest_members.JOINED}</span><br class="portal-clear" />
	<!-- END latest_members -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}