{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><!-- IF $FA_ENABLED -->
<i class="icon fa {$FA_ICON}" style="font-size: {$FA_SIZE}px;" aria-hidden="true"></i>
<!-- ELSE -->
<img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />
<!-- ENDIF --><!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	<!-- BEGIN group -->
		<strong class="portal-user-span"><a href="{group.U_GROUP}" style="color: #{group.GROUP_COLOUR};" class="username-coloured">{group.GROUP_NAME}</a></strong><br class="portal-clear" />
	<!-- BEGIN member -->
		<!-- IF $FA_ENABLED -->
			<span class="portal-user-icon"></span><span class="portal-user-span"><strong><i class="icon fa fa-user"></i>&nbsp;&nbsp;{group.member.USERNAME_FULL}</strong></span><br class="portal-clear" />
		<!-- ELSE -->
			<span class="portal-user-icon"></span><span class="portal-user-span"><strong>{group.member.USERNAME_FULL}</strong></span><br class="portal-clear" />
		<!-- ENDIF -->
	<!-- END member -->
	<br class="portal-clear" />
	<!-- BEGINELSE -->
		{L_NO_GROUPS_P}
	<!-- END group -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
