{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><!-- IF $FA_ENABLED -->
<i class="icon fa {$FA_ICON}" style="font-size: {$FA_SIZE}px;" aria-hidden="true"></i>
<!-- ELSE -->
<img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />
<!-- ENDIF --><!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	{LINK_US_TXT}<br /><br />
	<input type="text" tabindex="9" value="{U_LINK_US}" class="inputbox autowidth portal-input" onclick="this.focus();this.select();" readonly="readonly" /><br />
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}