<!-- BEGIN announcements_row -->
<!-- IF announcements_row.S_FIRST_ROW -->
{$C_BLOCK_H_L}{$TITLE}{$C_BLOCK_H_R}
<!-- ENDIF -->
<!-- IF $S_POSTBODY_TOP --><div class="postbody" style="width: 100%"><!-- ENDIF -->
	<!-- IF announcements_row.S_NO_TOPICS  -->
	<div class="post bg2" style="margin-bottom: 0px">
		<div class="inner"><span class="portal-corners-top-inner"></span>
			<span style="text-align: center;"><strong>{L_NO_ANNOUNCEMENTS}</strong></span>
	<!-- ELSE -->
	<div style="margin-bottom: <!-- IF announcements_row.S_LAST_ROW -->0px<!-- ELSE -->1px<!-- ENDIF -->" class="post <!-- IF announcements_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<div class="inner"><span class="portal-corners-top-inner"></span>
			<h4 class="first"><a name="a"></a><a name="a{announcements_row.A_ID}"></a><!-- IF announcements_row.S_UNREAD_INFO --><a href="{announcements_row.U_VIEW_UNREAD}">{NEWEST_POST_IMG}</a><!-- ELSE --><a href="{announcements_row.U_LAST_COMMENTS}">{READ_POST_IMG}</a><!-- ENDIF --> {announcements_row.ATTACH_ICON_IMG} <!-- IF announcements_row.S_POLL --> <strong>{L_VIEW_TOPIC_POLL}: </strong><!-- ENDIF --><!-- IF announcements_row.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{announcements_row.TOPIC_ICON_IMG}" width="{announcements_row.TOPIC_ICON_IMG_WIDTH}" height="{announcements_row.TOPIC_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><a href="{announcements_row.U_VIEW_COMMENTS}"><strong>{announcements_row.TITLE}</strong></a></h4>
			<!-- IF announcements_row.PAGINATION --><strong class="pagination"><span>{announcements_row.PAGINATION}</span></strong><!-- ENDIF -->
			<ul class="linklist">
				<li>{L_POSTED} {L_POST_BY_AUTHOR}: {announcements_row.POSTER_FULL} &raquo; {announcements_row.TIME}</li>
				<li class="rightside"><!-- IF announcements_row.FORUM_NAME -->{L_FORUM}: <strong><a href="{announcements_row.U_VIEWFORUM}">{announcements_row.FORUM_NAME}</a></strong><!-- ELSE -->{L_GLOBAL_ANNOUNCEMENT}<!-- ENDIF --></li>
			</ul>
			<!-- IF not $S_POSTBODY_TOP --><div class="postbody" style="width: 100%"><!-- ENDIF -->
				<div class="content">
					<br />{announcements_row.TEXT}
				</div>
			<!-- IF announcements_row.S_HAS_ATTACHMENTS -->
			<dl class="attachbox">
				<dt>{L_ATTACHMENTS}</dt>
				<!-- BEGIN attachment -->
					<dd>{announcements_row.attachment.DISPLAY_ATTACHMENT}</dd>
				<!-- END attachment -->
			</dl>
			<!-- ENDIF -->
			<br style="clear:both" />
			<span style="float: left;">{L_TOPIC_VIEWS}: {announcements_row.TOPIC_VIEWS} &nbsp;&bull;&nbsp; <a href="{announcements_row.U_VIEW_COMMENTS}" title="{L_VIEW_COMMENTS}">{L_COMMENTS}: {announcements_row.REPLIES}</a> &nbsp;&bull;&nbsp; <a href="{announcements_row.U_POST_COMMENT}">{L_POST_REPLY}</a></span>
			<span style="float: right; margin: 0 0 5px 0">{announcements_row.OPEN}<a href="{announcements_row.U_READ_FULL}">{announcements_row.L_READ_FULL}</a>{announcements_row.CLOSE}</span>
			<div class="back2top"><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
			<!-- IF announcements_row.S_NOT_LAST --><br style="clear:both" /><!-- ENDIF -->
			<!-- IF announcements_row.S_LAST_ROW and (AP_PAGINATION or TOTAL_ANNOUNCEMENTS) -->
				<hr class="dashed" />
				<div class="pagination">
					{TOTAL_ANNOUNCEMENTS}
				<!-- IF AP_PAGE_NUMBER --><!-- IF AP_PAGINATION --> &bull; {AP_PAGE_NUMBER} &bull; <span>{AP_PAGINATION}</span><!-- ELSE --> &bull; {AP_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
				</div>
			<!-- ENDIF -->
		<!-- IF not $S_POSTBODY_TOP --></div><!-- ENDIF -->
		<!-- ENDIF -->
		<span class="portal-corners-bottom-inner"></span></div>
	</div>
<!-- IF $S_POSTBODY_TOP --></div><!-- ENDIF -->
<!-- IF announcements_row.S_LAST_ROW -->
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<!-- ENDIF -->
<!-- END announcements_row -->