{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
			<!-- IF BIRTHDAY_LIST -->
			<strong>{L_CONGRATULATIONS}:</strong><br /> {BIRTHDAY_LIST}
			<!-- ELSE -->
			{L_NO_BIRTHDAYS}
			<!-- ENDIF -->
			<!-- IF S_DISPLAY_BIRTHDAY_AHEAD_LIST -->
				<hr class="dashed" />
				<strong>{L_BIRTHDAYS_AHEAD}</strong>
				<br />
				<!-- IF BIRTHDAYS_AHEAD_LIST -->
				{BIRTHDAYS_AHEAD_LIST}
				<!-- ELSE -->
				{L_NO_BIRTHDAYS_AHEAD}
				<!-- ENDIF -->
			<!-- ENDIF -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}