{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
			<div style="text-align: center;">
			<br />
			<object type="application/x-shockwave-flash" data="{T_THEME_PATH}/images/portal/{CLOCK_SRC}" width="140" height="140">
				<param name="wmode" value="transparent" />
				<param name="movie" value="{T_THEME_PATH}/images/portal/board3clock.swf" />
			</object> 
			</div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
