{$C_BLOCK_H_L}{$TITLE}{$C_BLOCK_H_R}
	<ul class="topiclist bg1">
		<li><dl>
			<dd style="border-left: 0px">
				<div style="text-align: left; margin: 5px 5px 5px 5px">
                   <strong>{SITENAME}</strong> {L_DONATION_TEXT}
                   <br />
                   <div style="float: left; padding: 5px 5px 5px 5px"><img src="{T_THEME_PATH}/images/portal/paypal.gif" alt="" /></div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="padding-top:15px">
                <div>
                   <input type="hidden" name="cmd" value="_xclick" />
                   <input type="hidden" name="business" value="{PAY_ACC_CENTER}" />
                   <input type="hidden" name="item_name" value="{L_PAY_ITEM}" />
                   <input type="hidden" name="no_note" value="1" />
                   <input type="hidden" name="no_shipping" value="2" />
                   <input type="hidden" name="bn" value="PP-DonationsBF" />
                   <input type="hidden" name="tax" value="0" />
                   <input type="text" tabindex="11" name="amount" size="10" maxlength="6" value="" class="inputbox autowidth" title="{L_PAY_MSG}" />
                   <select name="currency_code" class="autowidth">
                        <option value="USD">{L_USD}</option>
                      <option value="AUD">{L_AUD}</option>
                      <option value="CAD">{L_CAD}</option>
                      <option value="CZK">{L_CZK}</option>
                      <option value="DKK">{L_DKK}</option>
                      <option value="EUR" selected="selected">{L_EUR}</option>
                      <option value="HKD">{L_HKD}</option>
                      <option value="HUF">{L_HUF}</option>
                      <option value="NZD">{L_NZD}</option>
                      <option value="NOK">{L_NOK}</option>
                      <option value="PLN">{L_PLN}</option>
                      <option value="GBP">{L_GBP}</option>
                      <option value="SGD">{L_SGD}</option>
                      <option value="SEK">{L_SEK}</option>
                      <option value="CHF">{L_CHF}</option>
                      <option value="JPY">{L_JPY}</option>
                      <option value="MXN">{L_MXN}</option>
                      <option value="ILS">{L_ILS}</option>
                   </select>
                   <input type="submit" name="submit" value="{L_DONATION}" class="button1" />
                </div>
                </form>
                   <br />
                   <strong>{L_PAY_MSG}</strong>
                </div>
			</dd>
		</dl></li>
	</ul>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}