{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	<strong<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> style="float: right;"<!-- ENDIF -->>{L_ADMINISTRATORS}</strong><br />
	<!-- BEGIN admin -->
		<span style="float:<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->right<!-- ELSE -->left<!-- ENDIF -->;"><img src="{T_THEME_PATH}/images/portal/portal_user.png" width="16" height="16" alt="" /></span><span style="<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->float:right; padding-right:5px;<!-- ELSE -->float:left; padding-left:5px;<!-- ENDIF --> padding-top:2px;"><strong>{admin.USERNAME_FULL}</strong></span><br style="clear:both" />
	<!-- BEGINELSE -->
		{L_NO_ADMINISTRATORS_P}<br /><br />
	<!-- END admin -->
	<br style="clear:both" />
	<strong<!-- IF S_CONTENT_DIRECTION eq 'rtl' --> style="float: right;"<!-- ENDIF -->>{L_MODERATORS}</strong><br />
	<!-- BEGIN mod -->
		<span style="float:<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->right<!-- ELSE -->left<!-- ENDIF -->;"><img src="{T_THEME_PATH}/images/portal/portal_user.png" width="16" height="16" alt="" /></span><span style="<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->float:right; padding-right:5px;<!-- ELSE -->float:left; padding-left:5px;<!-- ENDIF --> padding-top:2px;"><strong>{mod.USERNAME_FULL}</strong></span><br style="clear:both" />
	<!-- BEGINELSE -->
		{L_NO_MODERATORS_P}
	<!-- END mod -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
