{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	<div class="portal-navigation">
	<!-- BEGIN portalmenu -->
		<!-- IF $MODULE_ID eq portalmenu.MODULE_ID -->
		<div class="menutitle">{portalmenu.CAT_TITLE}</div>
			<ul>
			<!-- BEGIN links -->
				<li><a href="{portalmenu.links.LINK_URL}" <!-- IF portalmenu.links.NEW_WINDOW -->onclick="window.open('{portalmenu.links.LINK_URL}'); return false;"<!-- ENDIF -->>{portalmenu.links.LINK_TITLE}</a></li>
			<!-- END links -->
			</ul>
		<hr class="dashed" />
		<!-- ENDIF -->
	<!-- BEGINELSE -->
		<ul>
			<span style="float:left;" class="gensmall"><strong>{L_MENU_NO_LINKS}</strong></span><br />
		</ul>
	<!-- END portal_menu -->
	</div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}