<!-- BEGIN recent -->
<!-- IF recent.MODULE_ID eq $MODULE_ID -->
<!-- IF .recent.latest_announcements or .recent.latest_hot_topics or .recent.latest_topics -->
{$C_BLOCK_H_L}{$TITLE}{$C_BLOCK_H_R}
	<ul class="topiclist bg1">
		<li><dl>
			<dd style="border-left:0px; width:100%">
			<table width="100%">
			<tr>
				<!-- IF .recent.latest_announcements --><td class="row1"><strong>{L_PORTAL_RECENT_ANN}</strong></td><!-- ENDIF -->
				<!-- IF .recent.latest_hot_topics --><td class="row1"><strong>{L_PORTAL_RECENT_HOT_TOPIC}</strong></td><!-- ENDIF -->
				<!-- IF .recent.latest_topics --><td class="row1"><strong>{L_PORTAL_RECENT_TOPIC}</strong></td><!-- ENDIF -->
			</tr>
			<tr>
				<!-- IF .recent.latest_announcements -->
				<td class="row1" style="width: 33%;" valign="top">
					<span class="gensmall">
					<!-- BEGIN latest_announcements -->
								<a href="{recent.latest_announcements.U_VIEW_TOPIC}" title="{recent.latest_announcements.FULL_TITLE}">{recent.latest_announcements.TITLE}</a><br />
					<!-- END latest_announcements -->
					</span>
				</td>
				<!-- ENDIF -->
				<!-- IF .recent.latest_hot_topics -->
				<td class="row1" style="width: 33%;" valign="top">
					<span class="gensmall">
					<!-- BEGIN latest_hot_topics -->
						<a href="{recent.latest_hot_topics.U_VIEW_TOPIC}" title="{recent.latest_hot_topics.FULL_TITLE}">{recent.latest_hot_topics.TITLE}</a><br />
					<!-- END latest_hot_topics -->
					</span>
				</td>
				<!-- ENDIF -->
				<!-- IF .recent.latest_topics -->
				<td class="row1" style="width: 33%;" valign="top">
					<span class="gensmall">
					<!-- BEGIN latest_topics -->
						<a href="{recent.latest_topics.U_VIEW_TOPIC}" title="{recent.latest_topics.FULL_TITLE}">{recent.latest_topics.TITLE}</a><br />
					<!-- END latest_topics -->
					</span>
				</td>
				<!-- ENDIF -->
			</tr>
			</table>
			</dd>
		</dl></li>
	</ul>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<!-- ENDIF -->
<!-- ENDIF -->
<!-- END recent -->	