<!--version $Id$ //-->
<hr class="dashed" />

<h3>sample block design</h3>

<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div class="content">
			<h2>{ TITLE }</h2>
			{ CONTENT }<br />{ CONTENT }
		</div>	
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />


<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{ TITLE }</h3>
			{ CONTENT }<br />{ CONTENT }
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />


<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{ TITLE }</h3>
			{ CONTENT }<hr />{ CONTENT }
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />


<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{ TITLE }</h3>
			{ CONTENT }<hr class="dashed" />{ CONTENT }
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />


<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{ TITLE }</h3>
			
		<ul class="linklist">
			<li>
				left side 
			</li>
			<li class="rightside">
				right side
			</li>
		</ul>
			
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />


<div class="navbar">
	<div class="inner"><span class="corners-top"><span></span></span>
		{ CONTENT }<br />{ CONTENT }
	<span class="corners-bottom"><span></span></span></div>
</div>
<br style="clear:both" />


<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{ TITLE }</dt></dl></li>
		</ul>
		<ul class="topiclist forums">
			<li><dl>
				<dd class="posts_portal">
					{ CONTENT }<br />{ CONTENT }
				</dd>
			</dl></li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<hr class="dashed" />
