<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_LATEST_ANNOUNCEMENTS}</dt></dl></li>
		</ul>
		<ul class="topiclist forums">
			<li>
				<dl>
				<dd class="posts_portal"  style="border-left:0px">	
				<ul class="news">
					<!-- BEGIN announcements_row -->
					<!-- IF announcements_row.S_NO_TOPICS -->
					<li>
					<span class="gensmall" style="text-align: center; margin: 0 0 0 5px;"><strong>{L_NO_ANNOUNCEMENTS}</strong></span>
					</li>
					<!-- ELSE -->
					<li>
						<span style="float: left; margin: 0 0 0 5px;"><img src="{T_THEME_PATH}/images/arrow_right.gif" alt=""/> 
						<!-- IF announcements_row.S_UNREAD_INFO -->{NEWEST_POST_IMG}<!-- ELSE -->{READ_POST_IMG}<!-- ENDIF --> {announcements_row.ATTACH_ICON_IMG} <!-- IF announcements_row.S_POLL --> <strong>{L_POLL}: </strong><!-- ENDIF -->
						<a href="{announcements_row.U_VIEW_COMMENTS}" title="{announcements_row.TITLE}"><strong style="font-size:1.1em;">{announcements_row.TITLE}</strong></a></span>
						<span style="float: right; margin: 0 5px 0 0;">{L_POST_BY_AUTHOR}: {announcements_row.POSTER_FULL}</span>
						<br style="clear:both" />
						<!-- IF announcements_row.FORUM_NAME -->
						<span style="float: left; font-size:1.0em; margin: 2px 0 0 28px;">{L_FORUM}: <strong><a href="{announcements_row.U_VIEWFORUM}">{announcements_row.FORUM_NAME}</a></strong></span>
						<!-- ELSE -->
						<span style="float: left; font-size:1.0em; margin: 2px 0 0 28px;">{L_GLOBAL_ANNOUNCEMENT}</span>
						<!-- ENDIF -->
						<span style="float: right; margin: 0 5px 0 0;">{L_POSTED_ON_DATE} <strong>{announcements_row.TIME}</strong></span>	   
						<br style="clear:both" />
						<span style="float: left; margin: 0 0 0 28px;">
							<!-- IF S_CAN_READ --><a href="{announcements_row.U_VIEW_COMMENTS}" title="{L_VIEW_COMMENTS}"><span style="font-size:0.9em;"><em>{L_COMMENTS}: {announcements_row.REPLIES}</em></span></a><!-- ENDIF -->
							<span style="font-size:0.9em;"><em>{L_TOPIC_VIEWS}: {announcements_row.TOPIC_VIEWS}</em></span>
						</span>   
					<!-- IF announcements_row.S_NOT_LAST --><hr style="margin: 0px 0px 3px 0px;" /><!-- ENDIF -->     
					</li>
					<!-- ENDIF -->
					<!-- END announcements_row -->	
				</ul>
				</dd>
				</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />