<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_ATTACHMENTS}</h3>
			
			<span style="float:left;"><strong>{L_FILENAME}</strong></span><br /> 
            <!-- BEGIN attach -->
            <span style="float:left;" class="gensmall"><img src="portal/images/icon_topic_attach.gif" alt="" />&nbsp;<a href="viewtopic.php?p={attach.POST_MSG_ID}#p{attach.POST_MSG_ID}" ><strong>{attach.REAL_FILENAME}</strong></a></span><br style="clear:both" /> 
			<!-- <span style="float:right;padding-right:10px;" class="gensmall">{attach.FILESIZE}</span><br style="clear:both" /> -->
			<span style="float:left;padding-right:10px;">{L_FILESIZE}:</span><span style="float:right;padding-right:10px;" class="gensmall"><strong>{attach.FILESIZE}</strong></span><br style="clear:both" />
			<span style="float:left;padding-right:10px;">{L_DOWNLOADS}:</span><span style="float:right;padding-right:10px;" class="gensmall"><strong>{attach.DOWNLOAD_COUNT}</strong></span><br style="clear:both" />
			<hr />
            <!-- END attach -->

		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />