<!--version $Id$ //-->
{$LR_BLOCK_H_L}<img src="{T_THEME_PATH}/images/portal/portal_birthday.gif" width="18px" height="15px" alt=""/>&nbsp;{L_BIRTHDAYS}{$LR_BLOCK_H_R}
			<!-- IF BIRTHDAY_LIST -->
			<strong>{L_CONGRATULATIONS}:<br /> {BIRTHDAY_LIST}</strong>
			<!-- ELSE -->
			{L_NO_BIRTHDAYS}
			<!-- ENDIF -->
			<h3>{L_BIRTHDAYS_AHEAD}</h3>
			<!-- IF BIRTHDAYS_AHEAD_LIST -->
			<strong>{BIRTHDAYS_AHEAD_LIST}</strong>
			<!-- ELSE -->
			{L_NO_BIRTHDAYS_AHEAD}
			<!-- ENDIF -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<br style="clear:both" />