<!--version $Id$ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<h3>{L_BOARD_STYLE}</h3>

		<script type="text/javascript">
		<!--
		// borrowed from forumimages.com !!
		function jumpMenu(targ, selObj, restore)
		{
			eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value + "'");
			if (restore) selObj.selectedIndex = 0;
		}
		//-->
		</script>
		<form method="get" action="{S_STYLE_ACTION}" onsubmit="if(document.jumpbox.f.value == -1){return false;}">
		<fieldset class="style_change">
			<select name="demo" id="demo" onchange="jumpMenu('parent',this,0)">
				{STYLE_SELECT}
			</select>
			</fieldset>
		</form>
		<br />
	
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />