<!--version $Id$ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3><img src="{T_THEME_PATH}/images/portal/portal_clock.gif" width="18px" height="18px" alt=""/>&nbsp;{L_CLOCK}</h3>
			<div style="text-align: center;">
			<object type="application/x-shockwave-flash" data="{T_THEME_PATH}/images/portal/board3clock.swf" width="140" height="140">
            <param name="wmode" value="transparent" />
            <param name="movie" value="{T_THEME_PATH}/images/portal/board3clock.swf" />
            </object> 
			</div>
			<br />
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
