<!--version $Id$ //-->
<div class="portal-panel">
	<div class="inner">
		<span class="portal-corners-top"><span></span></span>
			<h3><img src="{T_THEME_PATH}/images/portal/portal_clock.gif" width="18px" height="18px" alt=""/>&nbsp;{L_CLOCK}</h3>
			<div style="text-align: center;">
			<object type="application/x-shockwave-flash" data="portal/images/board3clock.swf" width="140" height="140">
            <param name="wmode" value="transparent" />
            <param name="movie" value="portal/images/board3clock.swf" />
            </object> 
			</div>
			<br />
		<span class="portal-corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
