<!--version $Id: custom_small.html 660 2010-07-08 20:34:54Z marc1706 $ //-->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{T_THEME_PATH}/images/portal/portal_custom.png" width="16" height="16" alt="" />&nbsp;<!-- ENDIF -->{PORTAL_CUSTOM_SMALL_HEADLINE}{$LR_BLOCK_H_R}
   <div class="inner"><span class="portal-corners-top-inner"></span>
      <div class="postbody" style="width: 100%">
         <div class="content">{PORTAL_CUSTOM_SMALL_CODE}</div>
      </div>
   <span class="portal-corners-bottom-inner"></span></div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}