<!--version $Id$ //-->
<!-- IF U_RESTORE_PERMISSIONS -->
{$C_BLOCK_H_L}{L_INFORMATION}{$C_BLOCK_H_R}
	<ul class="topiclist forums">
		<li><dl>
			<dd style="border-left: 0px">
				<div style="margin: 0 0 0 5px">
					&raquo; <a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a>
				</div>
			</dd>
		</dl></li>
	</ul>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<br style="clear:both" />
<!-- ELSE -->
{$C_BLOCK_H_L}{GEN_TITLE}{$C_BLOCK_H_R}
	<ul class="topiclist forums">
		<li><dl>
			<dd style="border-left: 0px">
				<div style="margin: 0 0 0 5px">
					{GEN_MESSAGE}
				</div>
			</dd>
		</dl></li>
	</ul>
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<br style="clear:both" />
<!-- ENDIF -->