<!--version $Id$ //-->
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<h3>{L_LATEST_MEMBERS}</h3>
			<span style="float:left;"><strong>{L_USERNAME}</strong></span>
			<span style="float:right;padding-right:10px;"><strong>{L_JOINED}</strong></span><br />
			<!-- BEGIN latest_members -->
			<span style="float:left;"><img src="portal/images/member.gif" height="15" width="15" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;">{latest_members.USERNAME_FULL}</span>
			<span style="float:right;padding-right:10px; padding-top:2px;">{latest_members.JOINED}</span><br style="clear:both" />
			<!-- END latest_members -->
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />