<!--version $Id: main_menu.html 544 2009-09-10 12:35:25Z christian_n $ //-->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{T_THEME_PATH}/images/portal/portal_menu.png" width="16" height="16" alt="" />&nbsp;<!-- ENDIF -->{L_M_MENU}{$LR_BLOCK_H_R}
	<div class="portal-navigation">
		<div class="menutitle">{L_M_CONTENT}</div>
			<ul>
				<li><a href="{U_INDEX}">{L_INDEX}</a></li>
				<!-- IF S_DISPLAY_SEARCH -->
					<li><a href="{U_SEARCH}">{L_SEARCH}</a></li>
				<!-- ENDIF -->
				<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED -->
					<li><a href="{U_REGISTER}">{L_REGISTER}</a></li>
				<!-- ENDIF -->
				<!-- IF not S_IS_BOT and S_DISPLAY_MEMBERLIST -->
					<li><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li>
				<!-- ENDIF -->
				<!-- IF U_TEAM -->
					<li><a href="{U_TEAM}">{L_THE_TEAM}</a></li>
				<!-- ENDIF -->
			</ul>
		<hr class="dashed" />
		<div class="menutitle">{L_M_HELP}</div>
			<ul>
				<li><a href="{U_FAQ}">{L_FAQ}</a></li>
				<li><a href="{U_M_BBCODE}">{L_M_BBCODE}</a></li>
				<li><a href="{U_M_TERMS}">{L_M_TERMS}</a></li>
				<li><a href="{U_M_PRV}">{L_M_PRV}</a></li>
			</ul>
	</div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}