<!--version $Id$ //-->
<!-- BEGIN news_row -->
<!-- IF  news_row.S_NO_TOPICS  -->
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_LATEST_NEWS}</dt></dl></li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
			<dl>
				<dt style="border-left:0px; width: 99%">				
					<span class="gensmall" style="font-weight: bold;">{L_NO_NEWS}</span>
				</dt>
			</dl>
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ELSE  -->
<!-- IF news_row.S_FIRST_ROW  -->
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header"><dl><dt>{L_LATEST_NEWS}</dt></dl></li>
		</ul>
		<ul class="topiclist topics">
<!-- ENDIF -->
			<li class="row<!-- IF news_row.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<dt style="border-left:0px; width: 99%">							
					<a name="n{news_row.N_ID}"></a><img src="{T_THEME_PATH}/images/arrow_right.gif" alt=""/> 
					<!-- IF news_row.S_UNREAD_INFO -->{NEWEST_POST_IMG}<!-- ELSE -->{READ_POST_IMG}<!-- ENDIF --> {news_row.ATTACH_ICON_IMG}  <!-- IF news_row.S_POLL --><strong>{L_POLL}: </strong><!-- ENDIF --><a href="{news_row.U_LAST_COMMENTS}" title="{L_JUMP_NEWEST}" class="topictitle">{news_row.TITLE}</a>
					<br style="clear:both" />
					<!-- IF news_row.PAGINATION --><strong class="pagination"><span>{news_row.PAGINATION}</span></strong><!-- ENDIF -->
					{POSTED_BY_TEXT} {L_POST_BY_AUTHOR}: {news_row.POSTER_FULL} {L_POSTED_ON_DATE} {news_row.TIME}
					<br style="clear:both" />
					<!-- IF news_row.FORUM_NAME -->
					{L_FORUM}: <strong><a href="{news_row.U_VIEWFORUM}">{news_row.FORUM_NAME}</a></strong>
					<br style="clear:both" />
					<!-- ENDIF -->
						<span style="float: left; font-size:0.9em;"><a href="{news_row.U_VIEW_COMMENTS}" title="{L_JUMP_FIRST}"><em>{L_COMMENTS}: {news_row.REPLIES}</em></a>
						<em>&nbsp;&bull;&nbsp;{L_TOPIC_VIEWS}: {news_row.TOPIC_VIEWS}</em></span>
				</dt>
			</dl>
			</li>
<!-- IF news_row.S_LAST_ROW -->
<!-- IF NP_PAGINATION or TOTAL_NEWS -->
<li class="row<!-- IF news_row.S_ROW_COUNT is even --> bg2<!-- ELSE --> bg1<!-- ENDIF -->">
	<div class="topic-actions">
		<div class="pagination">
			{TOTAL_NEWS}
			<!-- IF NP_PAGE_NUMBER --><!-- IF NP_PAGINATION --> &bull; {NP_PAGE_NUMBER} &bull; <span>{NP_PAGINATION}</span><!-- ELSE --> &bull; {NP_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF --> &nbsp;
		</div>
	</div>
</li>
<!-- ENDIF -->
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- END news_row -->

<br style="clear:both" />