    <!--version $Id$ //-->
    <!-- BEGIN news_row -->
    <!-- IF  news_row.S_NO_TOPICS  -->
    <div class="forabg">
        <div class="inner">
            <span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header"><dl><dt>{L_LATEST_NEWS}</dt></dl></li>
            </ul>
            <ul class="topiclist topics">
                <li class="bg2">
                <dl>
                    <dt style="border-left:0px; width: 99%">                
                        <span class="gensmall" style="font-weight: bold;">{L_NO_NEWS}</span>
                    </dt>
                </dl>
                </li>
            </ul>
            <span class="corners-bottom"><span></span></span>
        </div>
    </div>
    <!-- ELSE  -->
    <!-- IF news_row.S_FIRST_ROW  -->
    <a name="n"></a>
    <div class="forabg">
        <div class="inner">
            <span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header">
                    <dl class="icon">

                        <dt style="width: 44%">{L_LATEST_NEWS}</dt>
                        <dd class="posts" style="width: 11%">{L_REPLIES}</dd>
                        <dd class="views" style="width: 11%">{L_VIEWS}</dd>
                        <dd class="lastpost" style="width: 25%"><span>{L_LAST_POST}</span></dd>
                    </dl>    
                </li>
            </ul>
            <ul class="topiclist topics">
    <!-- ENDIF -->
                <li class="row<!-- IF news_row.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
                <dl class="icon" style="background-image: url({news_row.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
                    <dt style="width: 44%; <!-- IF news_row.TOPIC_ICON_IMG -->background-image: url({T_ICONS_PATH}{news_row.TOPIC_ICON_IMG}); background-repeat: no-repeat;<!-- ENDIF -->" title="{news_row.TOPIC_FOLDER_IMG_ALT}"><!-- IF news_row.S_UNREAD_TOPIC --><a href="{news_row.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><!-- IF news_row.ATTACH_ICON_IMG -->{news_row.ATTACH_ICON_IMG} <!-- ENDIF --><!-- IF news_row.S_POLL --><strong>{L_POLL}: </strong><!-- ENDIF --><a href="{news_row.U_VIEW_COMMENTS}" title="{news_row.TITLE}" class="topictitle">{news_row.TITLE}</a><!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --> &bull; <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->
                        <!-- IF news_row.PAGINATION --><strong class="pagination"><span>{news_row.PAGINATION}</span></strong><!-- ENDIF -->
                        <br />{L_POSTED} {L_POST_BY_AUTHOR} {news_row.POSTER_FULL} {L_POSTED_ON_DATE} {news_row.TIME}
                        <!-- IF news_row.FORUM_NAME -->
                            <br />{L_FORUM}: <a href="{news_row.U_VIEWFORUM}" style="font-weight: bold;">{news_row.FORUM_NAME}</a>
                        <!-- ENDIF -->
                    </dt>
                    <dd class="posts" style="width: 11%">{news_row.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
                    <dd class="views" style="width: 11%">{news_row.TOPIC_VIEWS} <dfn>{L_VIEWS}</dfn></dd>
                    <dd class="lastpost" style="width: 25%"><span><dfn>{L_LAST_POST}</dfn><!-- IF news_row.S_UNREAD_INFO --><a href="{news_row.U_VIEW_UNREAD}">{NEWEST_POST_IMG}</a><!-- ELSE --><a href="{news_row.U_LAST_COMMENTS}">{READ_POST_IMG}</a><!-- ENDIF --> {L_POST_BY_AUTHOR} {news_row.USERNAME_FULL_LAST}<br />
                    {L_POSTED_ON_DATE} {news_row.LAST_POST_TIME}</span>
                    </dd>
                </dl>
                </li>
    <!-- IF news_row.S_LAST_ROW -->
    <!-- IF NP_PAGINATION or TOTAL_NEWS -->
    <li class="row<!-- IF news_row.S_ROW_COUNT is even --> bg2<!-- ELSE --> bg1<!-- ENDIF -->">
        <div class="topic-actions">
            <div class="pagination">
                {TOTAL_NEWS}
                <!-- IF NP_PAGE_NUMBER --><!-- IF NP_PAGINATION --> &bull; {NP_PAGE_NUMBER} &bull; <span>{NP_PAGINATION}</span><!-- ELSE --> &bull; {NP_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF --> &nbsp;
            </div>
        </div>
    </li>
    <!-- ENDIF -->
            </ul>
            <span class="corners-bottom"><span></span></span>
        </div>
    </div>
    <!-- ENDIF -->
    <!-- ENDIF -->
    <!-- END news_row -->

    <br style="clear:both" /> 