<!--version $Id$ //-->
<div class="portal-panel">
	<div class="inner">
		<span class="portal-corners-top"><span></span></span>
		<h3><img src="{T_THEME_PATH}/images/portal/portal_statistic.gif" width="18px" height="18px" alt=""/>&nbsp;{L_STATISTICS}</h3>

		<strong>{L_ST_TOP}</strong><br />
		{TOTAL_POSTS}<br />
		{TOTAL_TOPICS}<br />
		{L_ST_TOP_ANNS} <strong>{S_ANN}</strong><br />
		{L_ST_TOP_STICKYS} <strong>{S_SCT}</strong><br />
		{L_ST_TOT_ATTACH} <strong>{S_TOT_ATTACH}</strong><br />
		
		<h4></h4>
		{TOPICS_PER_DAY}<br />
		{POSTS_PER_DAY}<br />
		{USERS_PER_DAY}<br />
		{TOPICS_PER_USER}<br />
		{POSTS_PER_USER}<br />
		{POSTS_PER_TOPIC}<br />
		<h4></h4>
		
		{TOTAL_USERS}<br />
		{NEWEST_USER}
		<span class="portal-corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />