<!-- BEGIN announcements_row -->
<!-- IF announcements_row.S_FIRST_ROW -->
{$C_BLOCK_H_L}{$TITLE}{$C_BLOCK_H_R}
<!-- ENDIF -->
<table class="tablebg" cellspacing="1" width="100%">
	<tr class="row1">
		<td>
		<!-- IF announcements_row.S_NO_TOPICS  -->
			<span class="gensmall"><strong>{L_NO_ANNOUNCEMENTS}</strong></span>
		<!-- ELSE -->
			<table class="tablebg" cellspacing="1" width="100%">
				<tr>
					<td class="cat">
					<a name="a"></a><a name="a{announcements_row.A_ID}"></a>
						<!-- IF announcements_row.S_UNREAD_INFO --><a href="{announcements_row.U_VIEW_UNREAD}">{NEWEST_POST_IMG}</a><!-- ELSE --><a href="{announcements_row.U_LAST_COMMENTS}">{READ_POST_IMG}</a><!-- ENDIF --> {announcements_row.ATTACH_ICON_IMG}<!-- IF announcements_row.S_POLL --> <strong>{L_VIEW_TOPIC_POLL}: </strong><!-- ENDIF --><!-- IF announcements_row.TOPIC_ICON_IMG --><img src="{T_ICONS_PATH}{announcements_row.TOPIC_ICON_IMG}" width="{announcements_row.TOPIC_ICON_IMG_WIDTH}" height="{announcements_row.TOPIC_ICON_IMG_HEIGHT}" alt="" /> <!-- ENDIF --><a href="{announcements_row.U_VIEW_COMMENTS}"><strong>{announcements_row.TITLE}</strong></a>
					</td>
				</tr>
				<tr class="row<!-- IF announcements_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->">
					<td style="padding:5px 5px 5px 5px;">
						
						<span class="gensmall" style="float: left;">{L_POSTED} {L_POST_BY_AUTHOR}: {announcements_row.POSTER_FULL} &raquo; {announcements_row.TIME}</span>
						<span class="gensmall" style="float: right;">
							<!-- IF announcements_row.FORUM_NAME -->
								{L_FORUM}: <strong><a href="{announcements_row.U_VIEWFORUM}">{announcements_row.FORUM_NAME}</a></strong>
							<!-- ELSE -->
								 {L_GLOBAL_ANNOUNCEMENT}
							<!-- ENDIF -->
						</span>
						<br /><br />
						<div class="postbody">
						{announcements_row.TEXT}
						</div>
						<!-- IF announcements_row.S_HAS_ATTACHMENTS -->
							<br clear="all" /><br />

							<table class="tablebg" width="100%" cellspacing="1">
							<tr>
								<td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
							</tr>
							<!-- BEGIN attachment -->
								<tr>
									<!-- IF announcements_row.attachment.S_ROW_COUNT is even --><td class="row2"><!-- ELSE --><td class="row1"><!-- ENDIF -->{announcements_row.attachment.DISPLAY_ATTACHMENT}</td>
								</tr>
							<!-- END attachment -->
							</table>
						<!-- ENDIF -->
						<br /><br />
						<!-- IF announcements_row.PAGINATION --><span style="float: right;">[ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {announcements_row.PAGINATION} ]</span><!-- ENDIF -->
					</td>
				</tr>
				<tr class="row<!-- IF announcements_row.S_ROW_COUNT is odd -->1<!-- ELSE -->2<!-- ENDIF -->">
					<td>
					<span style="float: left;">{L_TOPIC_VIEWS}: {announcements_row.TOPIC_VIEWS} &nbsp;&bull;&nbsp; <a href="{announcements_row.U_VIEW_COMMENTS}" title="{L_VIEW_COMMENTS}">{L_COMMENTS}: {announcements_row.REPLIES}</a> &nbsp;&bull;&nbsp; <a href="{announcements_row.U_POST_COMMENT}">{L_POST_REPLY}</a></span>
					<span style="float: right;">{announcements_row.OPEN}<a href="{announcements_row.U_READ_FULL}">{announcements_row.L_READ_FULL}</a>{announcements_row.CLOSE} <a href="#wrapheader" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></span>
					</td>
				</tr>
			</table>
			<!-- IF announcements_row.S_NOT_LAST --><br /><!-- ENDIF -->
			<!-- IF announcements_row.S_LAST_ROW and (AP_PAGINATION or TOTAL_ANNOUNCEMENTS) -->
			<hr />
			<table width="100%" cellspacing="0">
				<tr>
					<td class="gensmall" valign="middle" align="right" nowrap="nowrap">
						{TOTAL_ANNOUNCEMENTS}
						<!-- IF AP_PAGE_NUMBER --><!-- IF AP_PAGINATION --> &bull; {AP_PAGE_NUMBER} &bull; <span>{AP_PAGINATION}</span><!-- ELSE --> &bull; {AP_PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
					</td>
				</tr>
			</table>
			<!-- ENDIF -->
		<!-- ENDIF -->
		</td>
	</tr>
</table>
<!-- IF announcements_row.S_LAST_ROW -->
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<!-- ENDIF -->
<!-- END announcements_row -->