{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<!-- BEGIN portallinks -->
		<tr class="row1">
			<td>
				<!-- IF $MODULE_ID eq portallinks.MODULE_ID --><img src="{T_THEME_PATH}/images/portal/arrowbullet<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->_rtl<!-- ENDIF -->.gif" width="12" height="11" alt="" />&nbsp;<a href="{portallinks.LINK_URL}" title="{portallinks.LINK_TITLE}" <!-- IF portallinks.NEW_WINDOW -->onclick="window.open('{portallinks.LINK_URL}'); return false;"<!-- ENDIF -->>{portallinks.LINK_TITLE}</a><!-- ENDIF -->
			</td>
		</tr>
	<!-- BEGINELSE -->
		<tr class="row1">
			<td>
				<span style="float: left" class="gensmall"><strong>{L_LINKS_NO_LINKS}</strong></span><br />
			</td>
		</tr>
	<!-- END portallinks -->
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}