<!--version $Id: links_side.html 549 2009-09-25 19:04:37Z christian_n $ //-->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="16" height="16" alt="" />&nbsp;<!-- ENDIF -->{L_PORTAL_LINKS}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<!-- BEGIN portallinks -->
		<tr class="row1">
			<td>
				<!-- IF $MODULE_ID eq portallinks.MODULE_ID --><img src="{T_THEME_PATH}/images/portal/arrowbullet.gif" width="12" height="11" alt="" />&nbsp;<a href="{portallinks.LINK_URL}" title="{portallinks.LINK_TITLE}">{portallinks.LINK_TITLE}</a><!-- ENDIF -->
			</td>
		</tr>
	<!-- BEGINELSE -->
		<tr class="row1">
			<td>
				<span style="float: left" class="gensmall"><strong>{L_LINKS_NO_LINKS}</strong></span><br />
			</td>
		</tr>
	<!-- END portallinks -->
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}