{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<table class="tablebg" cellspacing="1" width="100%">
	<!-- BEGIN portalmenu -->
		<!-- IF $MODULE_ID eq portalmenu.MODULE_ID -->
			<tr class="row3">
				<td>
					<strong>{portalmenu.CAT_TITLE}</strong>
				</td>
			</tr>
			<!-- BEGIN links -->
			<tr class="row1">
				<td>
					<a href="{portalmenu.links.LINK_URL}" title="{portalmenu.links.LINK_TITLE}" <!-- IF portalmenu.links.NEW_WINDOW -->onclick="window.open('{portalmenu.links.LINK_URL}'); return false;"<!-- ENDIF -->><img src="{T_THEME_PATH}/images/portal/arrowbullet<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->_rtl<!-- ENDIF -->.gif" width="12" height="11" alt="" />&nbsp;{portalmenu.links.LINK_TITLE}</a>
				</td>
			</tr>
			<!-- END links -->
		<!-- ENDIF -->
	<!-- BEGINELSE -->
			<tr class="row1">
				<td>
					<span style="float:left;" class="gensmall"><strong>{L_MENU_NO_LINKS}</strong></span><br />
				</td>
			</tr>
	<!-- END portal_menu -->
</table>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}