<!--version $Id$ //-->
<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<table class="tablebg" cellspacing="1" width="100%"><tr><th><span style="float: left">' -->
<!-- DEFINE $LR_BLOCK_H_R = '</span></th></tr><tr class="row1"><td style="padding: 0px;">' -->
<!-- DEFINE $LR_BLOCK_F_L = '' -->
<!-- DEFINE $LR_BLOCK_F_R = '</td></tr></table>' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<table class="tablebg" cellspacing="1" cellpadding="0" width="100%"><tr><th><span style="float: center">' -->
<!-- DEFINE $C_BLOCK_H_R = '</span></th></tr><tr class="row1"><td style="padding: 0px;">' -->
<!-- DEFINE $C_BLOCK_F_L = '' -->
<!-- DEFINE $C_BLOCK_F_R = '</td></tr></table>' -->

<!-- Images-URL //-->
<!-- DEFINE $WHOS_IMAGES = '/images/whosonline.gif' -->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->