<!--version $Id$ //-->
<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<table class="tablebg" cellspacing="1" width="100%"><tr><th><span style="float: left">' -->
<!-- DEFINE $LR_BLOCK_H_R = '</span></th></tr>' -->
<!-- DEFINE $LR_BLOCK_F_L = '' -->
<!-- DEFINE $LR_BLOCK_F_R = '</table>' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<table class="tablebg" cellspacing="1" width="100%"><tr><th>' -->	
<!-- DEFINE $C_BLOCK_H_R = '</th></tr>' -->		
<!-- DEFINE $C_BLOCK_F_L = '' -->
<!-- DEFINE $C_BLOCK_F_R = '</table>' -->

<!-- Config for the news compact, announcements compact and recent blocks //-->
<!-- DEFINE $C_ANC_BLOCK_H_L = '<table class="tablebg" cellspacing="1" width="100%"><tr><th' -->
<!-- DEFINE $C_ANC_BLOCK_H_R = '</th></tr>' -->

<!-- Config for the "Who is Online" block //-->
<!-- DEFINE $WHOS_COLSPAN = '<table class="tablebg" cellspacing="1" width="100%"><tr><th colspan="2">' -->
<!-- DEFINE $WHOS_IMAGES = '/images/whosonline.gif' -->

<!-- Config for "no Avatar" images //-->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->