<!-- DEFINE $S_IN_PORTAL = 1 -->
<!-- INCLUDE overall_header.html -->

<!--version $Id$ //-->

<!--
.gensmall {
	margin: 1px 1px;
	font-size: 10px;
}

small, .small {
	font-size:10px; 
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

/* Container for sub-navigation list */
#navigation {
	padding-top: 0px;
	font-size: 1.1em;
}

/* Link styles for the sub-section links */
#navigation a {
	color: #105289;
	font-weight: normal;
	padding: 1px;
	display:block;
}

#navigation a:hover {
	color: #d31141;
}
//-->


<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr>
<!-- [+] left block area -->
	<td width="{PORTAL_LEFT_COLUMN}px" valign="top" style="padding-right:6px;">
	
		<!-- BEGIN portal_column_left -->
			{portal_column_left.BLOCK_DATA}
		<!-- END portal_column_left -->

	</td>
<!-- [-] left block area -->
	<td style="width:4px;" valign="top"></td>

<!-- [+] center block area -->
	<td valign="top">

		<!-- BEGIN portal_column_center -->
			{portal_column_center.BLOCK_DATA}
		<!-- END portal_column_center -->	

		<br />
		<div class="copyright" align="center">{L_PORTAL_COPY}</div>
		<br />
	</td>
                         
<!-- [-] center block area -->
	<td style="width:4px;" valign="top"> </td>

<!-- [+] right block area -->
	<td width="{PORTAL_RIGHT_COLUMN}px" valign="top" style="padding-left:6px;">
	
		<!-- BEGIN portal_column_right -->
			{portal_column_right.BLOCK_DATA}
		<!-- END portal_column_right -->
		
	</td>
<!-- [-] right block area -->
</tr>
</table>

<!--// board3 Portal by www.board3.de //-->
<!-- INCLUDE overall_footer.html -->