
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_ACTIVE_TOPIC}</th>
	</tr>
	<tr class="row1">
		<td>

			<!-- BEGIN active_topics -->
				<a href="{active_topics.U_VIEW_TOPIC}" title="{active_topics.FULL_TITLE}"><strong>{active_topics.TITLE}</strong></a><br />
				{active_topics.DATE}<br />
				{L_POSTED_BY}: {active_topics.POSTER}<br />
			<!-- END lactive_topics -->
			<hr />
			<a href="search.php?search_id=active_topics">{ALL_ACTIVE_TOPIC}</a>

		</td>
	</tr>
</table>
<br />