<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_LATEST_ANNOUNCEMENTS}</th>
	</tr>
	<!-- BEGIN announcements_row -->
	<!-- IF announcements_row.S_NO_TOPICS -->
	<tr class="row1">
		<td>
			<span class="gensmall"><strong>{L_NO_ANNOUNCEMENTS}</strong></span>
		</td>
	</tr>
	<!-- ELSE -->
	<tr class="row1">
		<td>
			<span style="float: left;">
				<!-- IF announcements_row.S_UNREAD_INFO -->{NEWEST_POST_IMG}<!-- ELSE -->{READ_POST_IMG}<!-- ENDIF --> {announcements_row.ATTACH_ICON_IMG} <!-- IF announcements_row.S_POLL --> <strong style="font-size:1.1em;">{L_POLL}: </strong><!-- ENDIF -->
				<a href="{announcements_row.U_VIEW_COMMENTS}" title="{announcements_row.TITLE}"><strong style="font-size:1.1em;">{announcements_row.TITLE}</strong></a>
			</span>
			<span style="float: right;font-size:0.9em; margin: 0 5px 0 0;">
				{L_POST_BY_AUTHOR}: {announcements_row.POSTER_FULL}
			</span>
			<br style="clear:both" />
			<!-- IF announcements_row.FORUM_NAME -->
				<span style="float: left; font-size:1.0em; margin: 2px 0 0 22px;">{L_FORUM}: <strong><a href="{announcements_row.U_VIEWFORUM}">{announcements_row.FORUM_NAME}</a></strong></span>
			<!-- ELSE -->
				<span style="float: left; font-size:1.0em; margin: 2px 0 0 22px;">{L_GLOBAL_ANNOUNCEMENT}</span>
			<!-- ENDIF -->
				<span style="float: right; margin: 0 5px 0 0;">{L_POSTED_ON_DATE} <strong>{announcements_row.TIME}</strong></span>				
			<br style="clear:both" />
			
			<!-- IF S_CAN_READ --><span style="float: left; margin: 0 0 0 22px; font-size:0.9em;">
			<a href="{announcements_row.U_VIEW_COMMENTS}" title="{L_VIEW_COMMENTS}">{L_COMMENTS}: {announcements_row.REPLIES}</a> {L_TOPIC_VIEWS}: {announcements_row.TOPIC_VIEWS}</span><!-- ENDIF -->

		</td>
	</tr>
	<!-- ENDIF -->
	<!-- END announcements_row -->
</table>
<br />