<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_ATTACHMENTS}</th>
	</tr>
	<tr class="row1">
		<td>	
			<span style="float:left;"><strong>{L_FILENAME}</strong></span> 
			<span style="float:right;padding-right:10px;"><strong>{L_FILESIZE}</strong></span><br />
            <!-- BEGIN attach -->
            <span style="float:left;" class="gensmall"><img src="portal/images/icon_topic_attach.gif" /><a href="{attach.U_FILE}" target="_blank">{attach.REAL_FILENAME}</a></span> 
			<span style="float:right;padding-right:10px;" class="gensmall">{attach.FILESIZE}</span>
			<br style="clear:both" />
            <!-- END attach -->
		</td>
	</tr>
</table>
<br />