<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_THE_TEAM}</th>
	</tr>
	<tr class="row3">
		<td>
			<strong>{L_ADMINISTRATORS}</strong>
		</td>
	</tr>
	<!-- BEGIN admin -->
	<tr  class="row1">
		<td>
			<img src="portal/images/member.gif" height="15" width="15" alt="Admin" /> <strong>{admin.USERNAME_FULL}</strong>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr  class="row1">
		<td>
			{L_NO_ADMINISTRATORS_P}
		</td>
	</tr>
	<!-- END admin -->
	<tr  class="row3">
		<td>
			<strong>{L_MODERATORS}</strong>
		</td>
	</tr>
	<!-- BEGIN mod -->
	<tr  class="row1">
		<td>
			<img src="portal/images/member.gif" height="15" width="15" alt="Moderator" /> <strong>{mod.USERNAME_FULL}</strong>
		</td>
	</tr>
	<!-- BEGINELSE -->
	<tr  class="row1">
		<td>
			{L_NO_MODERATORS_P}
		</td>
	</tr>
	<!-- END mod -->
</table>
<br />