

<!--
.ul-link {
	list-style: none;
	margin: 0px 0px 0px 0;
	padding: 0px 0px 0 0px;
}
.ul-link li{
	margin: 0;
	padding: 0 0 2px 15px;
	background: url(portal/images/link.png) no-repeat left center;
}
.ul-link a {
	padding: 0 0 0 4px;
}
//-->


<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_LINKS}</th>
	</tr>
	<tr class="row1">
		<td>
			<ul class="ul-link">
				<li><a href="http://www.phpbb.de" title="Deutsche phpBB Supportseite">phpbb.de</a></li>
				<li><a href="http://www.board3.de" title="Home of the board3 Portal">board3</a></li>
				<li><a href="http://www.flying-bits.org" title="Hier findest du die Mods von nickvergessen">www.flying-bits.org</a></li>
				<li><a href="http://www.phpbb3portal.com" title="phpbb3portal.com">phpbb3portal.com</a></li>
			</ul>
		</td>
	</tr>
</table>
<br />