
<table class="tablebg" cellspacing="1" width="100%" id="navigation">
	<tr>
		<th>{L_M_MENU}</th>
	</tr>
	<tr class="row3">
		<td>
			<strong>{L_M_CONTENT}</strong>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="{U_INDEX}">{L_INDEX}</a>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="{U_SEARCH}">{L_SEARCH}</a>
		</td>
	</tr>
	<!-- IF not S_USER_LOGGED_IN -->
	<tr class="row1">
		<td>
			<a href="{U_REGISTER}">{L_REGISTER}</a>
		</td>
	</tr>
	<!-- ENDIF -->
	<tr class="row1">
		<td>
			<a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="{U_TEAM}">{L_THE_TEAM}</a>
		</td>
	</tr>
	<!-- IF U_MCP -->
	<tr class="row1">
		<td>
			<a href="{U_MCP}">{L_MCP}</a>
		</td>
	</tr>
	<!-- ENDIF -->
	<!-- IF U_ACP -->
	<tr class="row1">
		<td>
			<a href="{U_ACP}">{L_M_ACP}</a>
		</td>
	</tr>
	<!-- ENDIF -->
	<tr class="row3">
		<td>
			<strong>{L_M_HELP}</strong>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="{U_FAQ}">{L_FAQ}</a>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="faq.php?mode=bbcode">{L_M_BBCODE}</a>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="ucp.php?mode=terms">{L_M_TERMS}</a>
		</td>
	</tr>
	<tr class="row1">
		<td>
			<a href="ucp.php?mode=privacy">{L_M_PRV}</a>	
		</td>
	</tr>

</table>
<br />