
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_FRIENDS}</th>
	</tr>
	<tr class="row1">
		<td>
			<strong style="color:green">{L_FRIENDS_ONLINE}</strong><br />
			<!-- BEGIN friends_online -->
				<span style="float:left;"><img src="portal/images/member.gif" height="15" width="15" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;">{friends_online.USERNAME_FULL}</span><br style="clear:both" />	
			<!-- BEGINELSE -->
				<span style="float:left; padding-left:5px; padding-top:2px;">{L_NO_FRIENDS_ONLINE}</span>
				<br style="clear:both" />
			<!-- END friends_online -->
				<br style="clear:both" />
			<strong style="color:red">{L_FRIENDS_OFFLINE}</strong><br />
			<!-- BEGIN friends_offline -->
				<span style="float:left;"><img src="portal/images/member.gif" height="15" width="15" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;">{friends_offline.USERNAME_FULL}</span><br style="clear:both" />
			<!-- BEGINELSE -->
				<span style="float:left; padding-left:5px; padding-top:2px;">{L_NO_FRIENDS_OFFLINE}</span>
			<!-- END friends_offline -->
		</td>
	</tr>
</table>
<br />