<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="3">{L_RECENT_TOPIC}</th>
	</tr>
	<tr>
		<td class="row1"><strong>{L_RECENT_ANN}</strong></td>
		<td class="row1"><strong>{L_RECENT_HOT_TOPIC}</strong></td>
		<td class="row1"><strong>{L_RECENT_TOPIC}</strong></td>
	</tr>
	<tr>
		<td class="row1" width="33%" valign="top">
			<!-- BEGIN latest_announcements -->
						<a href="{latest_announcements.U_VIEW_TOPIC}" title="{latest_announcements.FULL_TITLE}">{latest_announcements.TITLE}</a><br />
			<!-- END latest_announcements -->
		</td>
		<td class="row1" width="33%" valign="top">
			<!-- BEGIN latest_hot_topics -->
				<a href="{latest_hot_topics.U_VIEW_TOPIC}" title="{latest_hot_topics.FULL_TITLE}">{latest_hot_topics.TITLE}</a><br />
			<!-- END latest_hot_topics -->
		</td>
		<td class="row1" width="33%" valign="top">
			<!-- BEGIN latest_topics -->
				<a href="{latest_topics.U_VIEW_TOPIC}" title="{latest_topics.FULL_TITLE}">{latest_topics.TITLE}</a><br />
			<!-- END latest_topics -->
		</td>
	</tr>
</table>
<br />