<!--version $Id$ //-->
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_TOP_POSTER}</th>
	</tr>
	<tr class="row1">
		<td>
			<span style="float:left;"><strong>{L_USERNAME}</strong></span>
			<span style="float:right;padding-right:10px;"><strong>{L_POSTS}</strong></span><br />
			<!-- BEGIN top_poster -->
			<span style="float:left;"><img src="portal/images/member.gif" height="15" width="15" alt="" /></span><span style="float:left; padding-left:5px; padding-top:2px;">{top_poster.USERNAME_FULL}</span>
			<span style="float:right;padding-right:10px; padding-top:2px;"><a href="{top_poster.S_SEARCH_ACTION}">{top_poster.POSTER_POSTS}</a></span><br style="clear:both" />
			<!-- END top_poster -->		
		</td>
	</tr>
</table>
<br />