<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_USER_MENU}</th>
	</tr>
	<tr class="row1">
		<td>
			<div align="center">
				<a href="{U_VIEW_PROFILE}"><!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span></a><br /><br />
				<a href="{U_PROFILE}"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF --></a>
				<!-- IF RANK_TITLE --><br /><small>{RANK_TITLE}</small><!-- ENDIF -->
				<!-- IF RANK_IMG --><br />{RANK_IMG}<!-- ENDIF -->
			</div><hr />
		
			<a href="{U_NEW_POSTS}">{L_NEW_POSTS}</a><br />
			<a href="{U_SELF_POSTS}">{L_SELF_POSTS}</a><br />
			<a href="{U_UM_BOOKMARKS}">{L_UM_BOOKMARKS}</a><br />
			<a href="{U_UM_MAIN_SUBSCRIBED}">{L_UM_MAIN_SUBSCRIBED}</a><br />
			<a href="{U_PRIVATE_MESSAGES}">{L_PRIVATE_MESSAGES}</a><hr />
			
			<a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a>
		</td>
	</tr>
</table>
<br />
