<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th>{L_WHO_IS_ONLINE}</th>
	</tr>
	<tr class="row1">
		<td>
			<span style="float:left;">{L_WIO_TOTAL}:</span><span style="float:right;padding-right:10px;">{TOTAL_ONLINE_USERS}</span><br /><hr />
			<span style="float:left;">{L_WIO_REGISTERED}:</span><span style="float:right;padding-right:10px;">{VISIBLE_ONLINE}</span><br />
			<span style="float:left;">{L_WIO_HIDDEN}:</span><span style="float:right;padding-right:10px;">{HIDDEN_ONLINE}</span><br />
			<span style="float:left;">{L_WIO_GUEST}:</span><span style="float:right;padding-right:10px;">{GUEST_ONLINE}</span><br />
			<small>
				<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><br />
				{L_LEGEND} :: {LEGEND}
				<!-- ENDIF -->
			</small>
		</td>
	</tr>
</table>
<br />