{% for announcements in loops.announcements %}
{% if announcements.MODULE_ID eq definition.MODULE_ID %}
{% for center_row in announcements.center_row %}
{% if center_row.S_NO_TOPICS %}
{{ definition.C_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.C_BLOCK_H_R }}
	<div class="post bg2 portal-no-margin">
		<div class="inner">
			<span><strong>{{ lang('NO_ANNOUNCEMENTS') }}</strong></span>
		</div>
	</div>
{{ definition.C_BLOCK_F_L }}{{ definition.C_BLOCK_F_R }}
{% else %}
{% if center_row.S_FIRST_ROW %}
{{ definition.CC_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
	<dt style="margin-top: -1px;" id="a_{{ definition.MODULE_ID }}"><i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>&nbsp;{{ definition.TITLE }}</dt>
	{% if announcements.S_DISPLAY_ANNOUNCEMENTS_RVS %}
		<dd class="posts responsive-portal-announcements">{{ lang('REPLIES') }}</dd>
		<dd class="views responsive-portal-announcements">{{ lang('VIEWS') }}</dd>
	{% endif %}
{% else %}
	<dt style="margin-top: 0px;" id="a_{{ definition.MODULE_ID }}"><img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />&nbsp;{{ definition.TITLE }}</dt>
	{% if announcements.S_DISPLAY_ANNOUNCEMENTS_RVS %}
		<dd class="posts responsive-portal-announcements">{{ lang('REPLIES') }}</dd>
		<dd class="views responsive-portal-announcements">{{ lang('VIEWS') }}</dd>
	{% endif %}
{% endif %}
{% endif %}
	<dd class="lastpost responsive-portal-announcements"><span>{{ lang('LAST_POST') }}</span></dd>
{{ definition.CC_BLOCK_H_R }}
<ul class="topiclist topics responsive-portal-announcements">
{% endif %}
	<li class="row{% if center_row.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
		<dl class="row-item {{ center_row.TOPIC_IMG_STYLE }}">
			<dt title="{{ center_row.TOPIC_FOLDER_IMG_ALT }}">
				{% if center_row.S_UNREAD_INFO and not S_IS_BOT %}<a href="{{ center_row.U_VIEW_UNREAD }}" class="row-item-link"></a>{% endif %}
				<div class="list-inner">
							<a href="{{ center_row.U_VIEW_COMMENTS }}" title="{{ center_row.TITLE }}" class="topictitle">{{ center_row.TITLE }}</a>
					{% if center_row.pagination %}
					<div class="pagination">
						<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
						<ul>
							{% for pagination in center_row.pagination %}
							{% if pagination.S_IS_PREV %}
							{% elseif pagination.S_IS_CURRENT %}<li><a class="button" href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
							{% elseif pagination.S_IS_ELLIPSIS %}<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
							{% elseif pagination.S_IS_NEXT %}
							{% else %}<li><a class="button" href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
							{% endif %}
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if not S_IS_BOT %}
						<div class="responsive-show" style="display: none;">
							{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {{ center_row.USERNAME_FULL_LAST }} &raquo; <a href="{{ center_row.U_LAST_COMMENTS }}" title="{{ lang('GOTO_LAST_POST') }}"> {{ center_row.LAST_POST_TIME }}</a>
						</div>
					{% else %}
					<br />
					{% endif %}

						<div class="responsive-hide">
							{% if center_row.ATTACH_ICON_IMG %}<i class="icon fa-paperclip fa-fw" aria-hidden="true"></i>{% endif %}
							{% if center_row.S_POLL %}<i class="icon fa-bar-chart fa-fw" aria-hidden="true"></i>{% endif %}
							{{ lang('POST_BY_AUTHOR') }} {{ center_row.POSTER_FULL }} &raquo; {{ center_row.TIME }}
						</div>
					{% if U_VIEW_UNREAD_POST and not S_IS_BOT %} &bull; <a href="{{ U_VIEW_UNREAD_POST }}">{{ lang('VIEW_UNREAD_POST') }}</a> &bull; {% endif %}
					{% if center_row.FORUM_NAME %}
						{{ lang('FORUM') }}{{ lang('COLON') }} <a href="{{ center_row.U_VIEWFORUM }}" class="portal-forumtitle">{{ center_row.FORUM_NAME }}</a>
					{% else %}
						<br />{{ lang('GLOBAL_ANNOUNCEMENT') }}
					{% endif %}
					{% if not announcements.S_DISPLAY_ANNOUNCEMENTS_RVS %}{% if center_row.FORUM_NAME %}&bull; {% endif %}{{ lang('REPLIES') }}{{ lang('COLON') }} <strong>{{ center_row.REPLIES }}</strong>  &bull; {{ lang('VIEWS') }}{{ lang('COLON') }} <strong>{{ center_row.TOPIC_VIEWS }}</strong>{% endif %}
				</div>
			</dt>
			{% if announcements.S_DISPLAY_ANNOUNCEMENTS_RVS %}
				<dd class="posts">{{ center_row.REPLIES }} <dfn>{{ lang('REPLIES') }}</dfn></dd>
				<dd class="views">{{ center_row.TOPIC_VIEWS }} <dfn>{{ lang('VIEWS') }}</dfn></dd>
			{% endif %}
			<dd class="lastpost"><span><dfn>{{ lang('LAST_POST') }}</dfn>{{ lang('POST_BY_AUTHOR') }} {{ center_row.USERNAME_FULL_LAST }} {% if not S_IS_BOT %}{% if center_row.S_UNREAD_INFO %}<a href="{{ center_row.U_VIEW_UNREAD }}" title="{{ lang('VIEW_NEWEST_POST') }}"><i class="icon fa-external-link-square fa-fw icon-red icon-md" aria-hidden="true"></i><span class="sr-only">{{ lang('VIEW_LATEST_POST') }}</span></a>{% else %}<a href="{{ center_row.U_LAST_COMMENTS }}" title="{{ lang('VIEW_LATEST_POST') }}"><i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{ lang('VIEW_LATEST_POST') }}</span></a>{% endif %}<br />
				{{ center_row.LAST_POST_TIME }}</span>{% endif %}
			</dd>
		</dl>
	</li>
{% if center_row.S_LAST_ROW %}
	{% if announcements.AP_PAGINATION or announcements.TOTAL_ANNOUNCEMENTS %}
	<li class="row{% if center_row.S_ROW_COUNT is even %} bg2{% else %} bg1{% endif %} portal-news-pagination">
		<div class="topic-actions">
			<div class="pagination">
				<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
				{{ announcements.TOTAL_ANNOUNCEMENTS }}
				{% if announcements.AP_PAGE_NUMBER %}{% if announcements.AP_PAGINATION %} &bull; {{ announcements.AP_PAGE_NUMBER }} &bull; {{ announcements.AP_PAGINATION }}{% else %} &bull; {{ announcements.AP_PAGE_NUMBER }}{% endif %}{% endif %} &nbsp;
			</div>
		</div>
	</li>
	{% endif %}
	</ul>
{{ definition.C_BLOCK_F_L }}{{ definition.C_BLOCK_F_R }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
