{{ definition.C_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
	<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
	<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.C_BLOCK_H_R }}
<div class="panel bg1 portal-no-margin">
	<div class="inner">
	{% if loops.attach_center|length %}
		<span class="portal-title-span"><strong>{{ lang('FILENAME') }}</strong></span><br />
		{% for attach_center in loops.attach_center %}
			<span class="portal-title-span icon fa-paperclip fa-fw" aria-hidden="true">&nbsp;</span>&nbsp;<a class="portal-title-link" href="{{ attach_center.U_TOPIC }}" title="{{ attach_center.REAL_FILENAME }}"><strong>{{ attach_center.FILENAME }}</strong></a><br class="portal-clear" />
			<span class="portal-text-span">{{ lang('FILESIZE') }}{{ lang('COLON') }}</span><span class="portal-data-span portal-gensmall"><strong>{{ attach_center.FILESIZE }}</strong></span><br class="portal-clear" />
			<span class="portal-text-span">{{ lang('DOWNLOADS') }}{{ lang('COLON') }}</span><span class="portal-data-span portal-gensmall"><strong>{{ attach_center.DOWNLOAD_COUNT }}</strong></span><br class="portal-clear" />
			{% if not attach_center.S_LAST_ROW %}<hr class="dashed" />{% endif %}
		{% endfor %}
	{% else %}
		<span class="portal-title-span portal-gensmall"><strong>{{ lang('NO_ATTACHMENTS') }}</strong></span><br />
	{% endif %}
	</div>
</div>
{{ definition.C_BLOCK_F_L }}{{ definition.C_BLOCK_F_R }}
