{{ definition.LR_BLOCK_H_L }}
			{% if definition.S_BLOCK_ICON %}
				{% if definition.FA_ENABLED %}
					<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
				{% else %}
					<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
				{% endif %}
			{% endif %}&nbsp;{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
			{% if BIRTHDAY_LIST %}
			<strong>{{ lang('CONGRATULATIONS') }}{{ lang('COLON') }}</strong><br />
			{% for board3_birthday_list in loops.board3_birthday_list %}
			<span class="portal-user-icon"></span>
			<span class="portal-user-span">
				{{ board3_birthday_list.USER }}
			</span>
			<span class="portal-user-annotation">
				{% if board3_birthday_list.AGE %}{{ board3_birthday_list.AGE }}{% endif %}
			</span><br class="portal-clear" />
			{% endfor %}
			{% else %}
			{{ lang('NO_BIRTHDAYS') }}
			{% endif %}
			{% if S_DISPLAY_BIRTHDAY_AHEAD_LIST %}
				<hr class="dashed" />
				<strong>{{ lang('BIRTHDAYS_AHEAD') }}</strong>
				<br />
				{% if BIRTHDAYS_AHEAD_LIST %}
				{% for board3_birthday_ahead_list in loops.board3_birthday_ahead_list %}
				<span class="portal-user-icon"></span>
				<span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i>
					<span title="{{ board3_birthday_ahead_list.DATE }}">{{ board3_birthday_ahead_list.USER }}</span>
				</span>
				<span class="portal-user-annotation">
					{% if board3_birthday_ahead_list.AGE %}{{ board3_birthday_ahead_list.AGE }}{% endif %}
				</span><br class="portal-clear" />
				{% endfor %}
				{% else %}
				{{ lang('NO_BIRTHDAYS_AHEAD') }}
				{% endif %}
			{% endif %}
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}
