{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
		<div class="portal-clock-wrapper">
			<div class="portal-clock">
				<div class="portal-clock-back">
					<div class="portal-clock-back-upper">
						<img src="{T_EXT_THEME_PATH}/images/portal/spacer_up.png" alt="" /><div class="portal-clock-back-hours-up"></div>
						<div class="portal-clock-back-minutes-up-left" ></div><div class="portal-clock-back-minutes-up-right"></div>
						<div class="portal-clock-back-seconds-up-left"></div><div class="portal-clock-back-seconds-up-right"></div>
					</div>
					<div class="portal-clock-back-lower">
						<img src="{T_EXT_THEME_PATH}/images/portal/spacer_down.png" alt="" /><div class="portal-clock-back-hours-down"></div>
						<div class="portal-clock-back-minutes-down-left"></div><div class="portal-clock-back-minutes-down-right"></div>
						<div class="portal-clock-back-seconds-down-left"></div><div class="portal-clock-back-seconds-down-right"></div>
					</div>
				</div>
				<div class="portal-clock-front">
					<div class="portal-clock-front-upper">
						<img src="{T_EXT_THEME_PATH}/images/portal/spacer_up.png" alt="" /><div class="portal-clock-front-hours-up"></div>
						<div class="portal-clock-front-minutes-up-left"></div><div class="portal-clock-front-minutes-up-right"></div>
						<div class="portal-clock-front-seconds-up-left"></div><div class="portal-clock-front-seconds-up-right"></div>
					</div>
					<div class="portal-clock-front-lower">
						<img src="{T_EXT_THEME_PATH}/images/portal/spacer_down.png" alt="" /><div class="portal-clock-front-hours-down"></div>
						<div class="portal-clock-front-minutes-down-left"></div><div class="portal-clock-front-minutes-down-right"></div>
						<div class="portal-clock-front-seconds-down-left"></div><div class="portal-clock-front-seconds-down-right"></div>
					</div>
				</div>
			</div>
		</div>
<!-- INCLUDEJS portal/modules/jquery.easing.1.3.js -->
<!-- INCLUDEJS portal/modules/portal_clock.js -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
