{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
<div style="text-align: center;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<div>
		<input type="hidden" name="cmd" value="_xclick" />
		<input type="hidden" name="business" value="{PAY_ACC_SIDE}" />
		<input type="hidden" name="item_name" value="{L_PAY_ITEM}" />
		<input type="hidden" name="no_note" value="1" />
		<input type="hidden" name="no_shipping" value="2" />
		<input type="hidden" name="bn" value="PP-DonationsBF" />
		<input type="hidden" name="tax" value="0" />
		<!-- IF PAY_CUSTOM_SIDE -->
		<input type="hidden" name="custom" value="{PAY_CUSTOM_SIDE}">
		<!-- ENDIF -->
		<input type="text" tabindex="10" name="amount" size="10" maxlength="6" value="" class="inputbox autowidth" title="{L_PAY_MSG}" />
		<select name="currency_code" class="autowidth">
        	<option value="USD">USD</option>
			<option value="AUD">AUD</option>
			<option value="CAD">CAD</option>
			<option value="CZK">CZK</option>
			<option value="DKK">DKK</option>
			<option value="EUR" selected="selected">EUR</option>
			<option value="HKD">HKD</option>
			<option value="HUF">HUF</option>
			<option value="NZD">NZD</option>
			<option value="NOK">NOK</option>
			<option value="PLN">PLN</option>
			<option value="GBP">GBP</option>
			<option value="SGD">SGD</option>
			<option value="SEK">SEK</option>
			<option value="CHF">CHF</option>
			<option value="JPY">JPY</option>
		</select>
		<input type="submit" name="submit" value="{L_DONATION}" class="button1" />
    </div>
</form>
</div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}