{% if S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) %}
	<ul class="linklist">
	{% if S_DISPLAY_SEARCH %}
		<li><a href="{{ U_SEARCH_UNANSWERED }}">{{ lang('SEARCH_UNANSWERED') }}</a>{% if S_USER_LOGGED_IN %} &bull; <a href="{{ U_SEARCH_UNREAD }}">{{ lang('SEARCH_UNREAD') }}</a> &bull; <a href="{{ U_SEARCH_NEW }}">{{ lang('SEARCH_NEW') }}</a>{% endif %} &bull; <a href="{{ U_SEARCH_ACTIVE_TOPICS }}">{{ lang('SEARCH_ACTIVE_TOPICS') }}</a></li>
	{% endif %}
	{% if not S_IS_BOT and U_MARK_FORUMS %}<li class="rightside"><a href="{{ U_MARK_FORUMS }}" accesskey="m">{{ lang('MARK_FORUMS_READ') }}</a></li>{% endif %}
	</ul>
{% endif %}
<div id="portal-forumlist">
{% INCLUDE 'forumlist_body.html' %}
</div>
<br />