{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
	<strong style="color:green{% if S_CONTENT_DIRECTION eq 'rtl' %}; float: right;{% endif %}">{{ lang('FRIENDS_ONLINE') }}</strong><br />
	{% for b3p_friends_online in loops.b3p_friends_online %}
		<span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{{ b3p_friends_online.USERNAME_FULL }}</span</span><br class="portal-clear" />
	{% else %}
		<span class="portal-user-span">{{ lang('NO_FRIENDS_ONLINE') }}</span>
		<br class="portal-clear" />
	{% endfor %}
		<br class="portal-clear" />
		<strong style="color:red{% if S_CONTENT_DIRECTION eq 'rtl' %}; float: right;{% endif %}">{{ lang('FRIENDS_OFFLINE') }}</strong><br />
	{% for b3p_friends_offline in loops.b3p_friends_offline %}
		<span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{{ b3p_friends_offline.USERNAME_FULL }}</span></span><br class="portal-clear" />
	{% else %}
		<span class="portal-user-span">{{ lang('NO_FRIENDS_OFFLINE') }}</span>
    {% endfor %}
	<br />
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}
