{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	<strong style="color:green<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->; float: right;<!-- ENDIF -->">{L_FRIENDS_ONLINE}</strong><br />
	<!-- BEGIN b3p_friends_online -->
        <span class="portal-user-icon"></span><span class="portal-user-span">{b3p_friends_online.USERNAME_FULL}</span><br class="portal-clear" />
    <!-- BEGINELSE -->
        <span class="portal-user-span">{L_NO_FRIENDS_ONLINE}</span>
        <br class="portal-clear" />
    <!-- END b3p_friends_online -->
		<br class="portal-clear" />
		<strong style="color:red<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->; float: right;<!-- ENDIF -->">{L_FRIENDS_OFFLINE}</strong><br />
	<!-- BEGIN b3p_friends_offline -->
        <span class="portal-user-icon"></span><span class="portal-user-span">{b3p_friends_offline.USERNAME_FULL}</span><br class="portal-clear" />
    <!-- BEGINELSE -->
        <span class="portal-user-span">{L_NO_FRIENDS_OFFLINE}</span>
    <!-- END b3p_friends_offline -->
	<br />
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
