{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
		<span class="portal-user-span"><strong>{{ lang('USERNAME') }}</strong></span>
		<span class="portal-user-annotation"><strong>{{ lang('JOINED') }}</strong></span><br class="portal-clear" />
		{% for latest_members in loops.latest_members %}
			<span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{{ latest_members.USERNAME_FULL }}</span></span>
			<span class="portal-user-annotation">{{ latest_members.JOINED }}</span><br class="portal-clear" />
		{% endfor %}
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}