{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
		{% for group in loops.group %}
		<strong class="portal-user-span"><a href="{{ group.U_GROUP }}" style="color: #{{ group.GROUP_COLOUR }};" class="username-coloured">{{ group.GROUP_NAME }}</a></strong><br class="portal-clear" />
		{% for member in group.member %}
			<span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span><strong>{{ member.USERNAME_FULL }}</strong></span></span><br class="portal-clear" />
		{% endfor %}
		<br class="portal-clear" />
		{% else %}
			{{ lang('NO_GROUPS_P') }}
		{% endfor %}
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}
