{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
		<strong class="portal-user-span">{{ lang('ADMINISTRATORS') }}</strong><br class="portal-clear" />
		{% for b3p_admins in loops.b3p_admins %}
			<span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span><strong>{{ b3p_admins.USERNAME_FULL }}</strong></span></span><br class="portal-clear" />
		{% else %}
			{{ lang('NO_ADMINISTRATORS_P') }}<br /><br />
		{% endfor %}
		<br class="portal-clear" />
		<strong class="portal-user-span">{{ lang('MODERATORS') }}</strong><br class="portal-clear" />
		{% for b3p_moderators in loops.b3p_moderators %}
			<span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span><strong>{{ b3p_moderators.USERNAME_FULL }}</strong></span></span><br class="portal-clear" />
		{% else %}
		{{ lang('NO_MODERATORS_P') }}
		{% endfor %}
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}
