{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON -->
<!-- IF $FA_ENABLED -->
<i class="icon fa {$FA_ICON}" style="font-size: {$FA_SIZE}px;" aria-hidden="true"></i>
<!-- ELSE -->
<img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />
<!-- ENDIF -->
<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
       <strong class="portal-user-span">{L_ADMINISTRATORS}</strong><br class="portal-clear" />
       <!-- BEGIN b3p_admins -->
          <span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span><strong>{b3p_admins.USERNAME_FULL}</strong></span></span><br class="portal-clear" />
       <!-- BEGINELSE -->
          {L_NO_ADMINISTRATORS_P}<br /><br />
       <!-- END b3p_admins -->
       <br class="portal-clear" />
       <strong class="portal-user-span">{L_MODERATORS}</strong><br class="portal-clear" />
       <!-- BEGIN b3p_moderators -->
          <span class="portal-user-icon"></span><span class="portal-user-span"><i class="icon fa-user fa-fw" aria-hidden="true"></i><span><strong>{b3p_moderators.USERNAME_FULL}</strong></span></span><br class="portal-clear" />
       <!-- BEGINELSE -->
          {L_NO_MODERATORS_P}
       <!-- END b3p_moderators -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
