{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
	<strong class="portal-user-span">{L_ADMINISTRATORS}</strong><br class="portal-clear" />
	<!-- BEGIN b3p_admins -->
		<span class="portal-user-icon"></span><span class="portal-user-span"><strong>{b3p_admins.USERNAME_FULL}</strong></span><br class="portal-clear" />
	<!-- BEGINELSE -->
		{L_NO_ADMINISTRATORS_P}<br /><br />
	<!-- END b3p_admins -->
	<br class="portal-clear" />
	<strong class="portal-user-span">{L_MODERATORS}</strong><br class="portal-clear" />
	<!-- BEGIN b3p_moderators -->
		<span class="portal-user-icon"></span><span class="portal-user-span"><strong>{b3p_moderators.USERNAME_FULL}</strong></span><br class="portal-clear" />
	<!-- BEGINELSE -->
		{L_NO_MODERATORS_P}
	<!-- END b3p_moderators -->
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
