{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
	{{ LINK_US_TXT }}<br><br>
		<strong>HTML{L_COLON}</strong><br>
			<input type="text" tabindex="9" value="{U_LINK_US_HTML}" class="inputbox autowidth" onclick="this.focus();this.select();" readonly="readonly" /><br><br>
		<strong>BBCode{L_COLON}</strong><br>
			<input type="text" tabindex="9" value="{U_LINK_US_BB}" class="inputbox autowidth" onclick="this.focus();this.select();" readonly="readonly" /><br>
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}