{% for news in loops.news %}
{% if news.MODULE_ID eq definition.MODULE_ID %}
{% for news_row in news.news_row %}
{% if news_row.S_NO_TOPICS %}
{{ definition.C_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
	<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
	<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.C_BLOCK_H_R }}
	<div class="post bg2 portal-no-margin">
		<div class="inner">
			<span><strong>{{ lang('NO_NEWS') }}</strong></span>
		</div>
	</div>
{{ definition.C_BLOCK_F_L }}{{ definition.C_BLOCK_F_R }}
{% else  %}
{% if news_row.S_FIRST_ROW  %}
{{ definition.CC_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
	<dt style="margin-top: -1px;" id="a_{{ definition.MODULE_ID }}"><i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>&nbsp;{{ definition.TITLE }}</dt>
	{% if news.S_DISPLAY_NEWS_RVS %}
		<dd class="posts responsive-portal-news">{{ lang('REPLIES') }}</dd>
		<dd class="views responsive-portal-news">{{ lang('VIEWS') }}</dd>
	{% endif %}
{% else %}
	<dt style="margin-top: 0px;" id="a_{{ definition.MODULE_ID }}"><img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />&nbsp;{{ definition.TITLE }}</dt>
	{% if news.S_DISPLAY_NEWS_RVS %}
		<dd class="posts responsive-portal-news">{{ lang('REPLIES') }}</dd>
		<dd class="views responsive-portal-news">{{ lang('VIEWS') }}</dd>
	{% endif %}
{% endif %}
{% endif %}
	<dd class="lastpost responsive-portal-news"><span>{{ lang('LAST_POST') }}</span></dd>
{{ definition.CC_BLOCK_H_R }}
<ul class="topiclist topics responsive-portal-news">
{% endif %}
	<li class="row{% if news_row.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
		<dl class="row-item {{ news_row.TOPIC_IMG_STYLE }}">
				<dt{% if news_row.TOPIC_ICON_IMG and S_TOPIC_ICONS %} style="background-image: url({{ T_ICONS_PATH }}{{ news_row.TOPIC_ICON_IMG }}); background-repeat: no-repeat;"{% endif %} title="{{ news_row.TOPIC_FOLDER_IMG_ALT }}">
					{% if news_row.S_UNREAD_INFO and not S_IS_BOT %}<a href="{{ news_row.U_VIEW_UNREAD }}" class="row-item-link"></a>{% endif %}
				<div class="list-inner">
					<a href="{{ news_row.U_VIEW_COMMENTS }}" title="{{ news_row.TITLE }}" class="topictitle">{{ news_row.TITLE }}</a>{% if U_VIEW_UNREAD_POST and not S_IS_BOT %} &bull; <a href="{{ U_VIEW_UNREAD_POST }}">{{ lang('VIEW_UNREAD_POST') }}</a> &bull; {% endif %}
					{% if news_row.pagination %}
					<div class="pagination">
						<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
						<ul>
							{% for pagination in news_row.pagination %}
								{% if pagination.S_IS_PREV %}
								{% elseif pagination.S_IS_CURRENT %}<li><a class="button" href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
								{% elseif pagination.S_IS_ELLIPSIS %}<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
								{% elseif pagination.S_IS_NEXT %}
								{% else %}<li><a class="button" href="{{ pagination.PAGE_URL }}">{{ pagination.PAGE_NUMBER }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if not S_IS_BOT %}
						<div class="responsive-show" style="display: none;">
							{{ lang('LAST_POST') }} {{ lang('POST_BY_AUTHOR') }} {{ news_row.USERNAME_FULL_LAST }} &raquo; <a href="{{ news_row.U_LAST_COMMENTS }}" title="{{ lang('GOTO_LAST_POST') }}"> {{ news_row.LAST_POST_TIME }}</a>
						</div>
					{% else %}
					<br />
					{% endif %}

						<div class="responsive-hide">
							{% if news_row.ATTACH_ICON_IMG %}<i class="icon fa-paperclip fa-fw" aria-hidden="true"></i>{% endif %}
							{% if news_row.S_POLL %}<i class="icon fa-bar-chart fa-fw" aria-hidden="true"></i> {% endif %}
							{{ lang('POSTED') }} {{ lang('POST_BY_AUTHOR') }} {{ news_row.POSTER_FULL }} &raquo; {{ news_row.TIME }}
						</div>
					{% if news_row.FORUM_NAME %}
						{{ lang('FORUM') }}{{ lang('COLON') }} <a href="{{ news_row.U_VIEWFORUM }}" class="portal-forumtitle">{{ news_row.FORUM_NAME }}</a>
					{% endif %}
					{% if not news.S_DISPLAY_NEWS_RVS %}{% if news_row.FORUM_NAME %}&bull; {% endif %}{{ lang('REPLIES') }}{{ lang('COLON') }} <strong>{{ news_row.REPLIES }}</strong>  &bull; {{ lang('VIEWS') }}{{ lang('COLON') }} <strong>{{ news_row.TOPIC_VIEWS }}</strong>{% endif %}
				</div> <!-- \END <div class="list-inner"> -->
			</dt>
			{% if news.S_DISPLAY_NEWS_RVS %}
				<dd class="posts" data-skip-responsive="true">{{ news_row.REPLIES }} <dfn>{{ lang('REPLIES') }}</dfn></dd>
				<dd class="views" data-skip-responsive="true">{{ news_row.TOPIC_VIEWS }} <dfn>{{ lang('VIEWS') }}</dfn></dd>
			{% endif %}
			<dd class="lastpost"><span><dfn>{{ lang('LAST_POST') }}</dfn>{{ lang('POST_BY_AUTHOR') }} {{ news_row.USERNAME_FULL_LAST }} {% if not S_IS_BOT %}{% if news_row.S_UNREAD_INFO %}<a href="{{ news_row.U_VIEW_UNREAD }}" title="{{ lang('VIEW_NEWEST_POST') }}"><i class="icon fa-external-link-square fa-fw icon-red icon-md" aria-hidden="true"></i><span class="sr-only">{{ lang('VIEW_LATEST_POST') }}</span></a>{% else %}<a href="{{ news_row.U_LAST_COMMENTS }}" title="{{ lang('VIEW_LATEST_POST') }}"><i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{ lang('VIEW_LATEST_POST') }}</span></a>{% endif %}<br />
				{{ news_row.LAST_POST_TIME }}</span>{% endif %}
			</dd>
		</dl>
	</li>
{% if news_row.S_LAST_ROW %}
	{% if news.NP_PAGINATION or news.TOTAL_NEWS %}
		<li class="row{% if news_row.S_ROW_COUNT is even %} bg2{% else %} bg1{% endif %} portal-news-pagination">
			<div class="topic-actions">
				<div class="pagination">
					<span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
					{{ news.TOTAL_NEWS }}
					{% if news.NP_PAGE_NUMBER %}{% if news.NP_PAGINATION %} &bull; {{ news.NP_PAGE_NUMBER }} &bull; {{ news.NP_PAGINATION }}{% else %} &bull; {{ news.NP_PAGE_NUMBER }}{% endif %}{% endif %} &nbsp;
				</div>
			</div>
		</li>
	{% endif %}
	</ul>
{{ definition.C_BLOCK_F_L }}{{ definition.C_BLOCK_F_R }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
