{{ definition.C_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
	<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
	<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.C_BLOCK_H_R }}
{% if definition.S_POSTBODY_TOP %}<div class="postbody portal-module-postbody">{% endif %}
	{% for news in loops.news %}
	{% if news.MODULE_ID eq definition.MODULE_ID %}
	{% for news_row in news.news_row %}
		{% if news_row.S_NO_TOPICS  %}
			<div class="post b3p-post bg2">
				<div class="inner">
					<span><strong>{{ lang('NO_NEWS') }}</strong></span>
				</div>
			</div>
		{% else %}
			<div class="post b3p-post {% if news_row.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
				<div class="inner">
					<h4 class="first">
						<a id="n_{{ definition.MODULE_ID }}_{{ news_row.N_ID }}"></a>{% if news_row.S_UNREAD_INFO %}<a href="{{ news_row.U_VIEW_UNREAD }}" title="{{ news_row.MINI_POST }}">{% else %}<a href="{{ news_row.U_LAST_COMMENTS }}" title="{{ news_row.MINI_POST }}">{% endif %}
							<i class="icon fa-file fa-fw {% if news_row.S_UNREAD_INFO %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ news_row.MINI_POST }}</span>
						</a>
						<a href="{{ news_row.U_VIEW_COMMENTS }}"><strong>{{ news_row.TITLE }}</strong></a>
					</h4>
					{% if news_row.PAGINATION %}<strong class="pagination"><span>{{ news_row.PAGINATION }}</span></strong>{% endif %}
						<ul class="linklist">
							<li>{{ news.POSTED_BY_TEXT }} {{ lang('POST_BY_AUTHOR') }}{{ lang('COLON') }} {{ news_row.POSTER_FULL }} &raquo; <a href="{{ news_row.U_LAST_COMMENTS }}" title="{{ lang('GOTO_LAST_POST') }}"> {{ news_row.TIME }}</a></li>
							<li class="rightside">{{ lang('FORUM') }}{{ lang('COLON') }} <strong><a href="{{ news_row.U_VIEWFORUM }}">{{ news_row.FORUM_NAME }}</a></strong></li>
						</ul>
						{% if not definition.S_POSTBODY_TOP %}<div class="postbody portal-module-postbody">{% endif %}
							<div class="content">
								<br />{{ news_row.TEXT }}
							</div>
					{% if news_row.S_HAS_ATTACHMENTS %}
						<dl class="attachbox">
							<dt>{{ lang('ATTACHMENTS') }}</dt>
							{% for attachment in news_row.attachment %}
								<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
							{% endfor %}
						</dl>
					{% endif %}
					<br class="portal-clear" />
					<span class="portal-title-span">{{ lang('TOPIC_VIEWS') }}{{ lang('COLON') }} {{ news_row.TOPIC_VIEWS }} &nbsp;&bull;&nbsp; <a href="{{ news_row.U_VIEW_COMMENTS }}" title="{{ lang('VIEW_COMMENTS') }}">{{ lang('COMMENTS') }}{{ lang('COLON') }} {{ news_row.REPLIES }}</a> &nbsp;&bull;&nbsp; <a href="{{ news_row.U_POST_COMMENT }}">{{ lang('PORTAL_POST_REPLY') }}</a></span>
					<span class="portal-read-all-link">{{ news_row.OPEN }}<a href="{{ news_row.U_READ_FULL }}">{{ news_row.L_READ_FULL }}</a>{{ news_row.CLOSE }}</span>
					<div class="back2top">
						<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
							<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
							<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
						</a>
					</div>
					{% if news_row.S_NOT_LAST %}<br class="portal-clear" />{% endif %}
					{% if news_row.S_LAST_ROW %}
					{% if not news_row.S_NO_TOPICS  %}
					{% if news.NP_PAGINATION or news.TOTAL_NEWS %}
						<hr class="dashed" />
						<div class="pagination">
							{{ news.TOTAL_NEWS }}
							{% if news.NP_PAGE_NUMBER %}{% if news.NP_PAGINATION %} &bull; {{ news.NP_PAGE_NUMBER }} &bull; {{ news.NP_PAGINATION }}{% else %} &bull; {{ news.NP_PAGE_NUMBER }}{% endif %}{% endif %}
						</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% if not definition.S_POSTBODY_TOP %}</div>{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
{% if definition.S_POSTBODY_TOP %}</div>{% endif %}
{{ definition.C_BLOCK_F_L }}{{ definition.C_BLOCK_F_R }}
