{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
	{% if S_HAS_B3P_POLL %}
		<div id="viewpoll" class="inner">
		{% for poll_side in loops.poll_side %}
			{% if not poll_side.S_FIRST_ROW %}<hr class="dashed" />{% endif %}
			{% if poll_side.S_CAN_VOTE %}<form method="post" action="{{ poll_side.S_POLL_ACTION }}">{% endif %}
				<div class="content">
					<h2>{{ poll_side.POLL_QUESTION }}</h2>
					<p class="author portal-module-postbody">{{ poll_side.L_POLL_LENGTH }}{% if poll_side.S_CAN_VOTE and poll_side.L_POLL_LENGTH %}<br />{% endif %}{% if poll_side.S_CAN_VOTE %}{{ poll_side.L_MAX_VOTES }}{% endif %}</p>

					<fieldset class="polls">
					{% if poll_side.S_POLL_HAS_OPTIONS %}
					{% for poll_option in poll_side.poll_option %}
						<dl class="{% if poll_option.POLL_OPTION_VOTED %}voted{% endif %} portal-poll-side-option"{% if poll_option.POLL_OPTION_VOTED %} title="{{ lang('POLL_VOTED_OPTION') }}"{% endif %}>
							<dt>{% if poll_side.S_CAN_VOTE %}<label for="poll_side_{{ poll_side.TOPIC_ID }}_vote_{{ poll_option.POLL_OPTION_ID }}">{{ poll_option.POLL_OPTION_CAPTION }}</label>{% else %}{{ poll_option.POLL_OPTION_CAPTION }}{% endif %}</dt><dd><br /></dd>
							{% if poll_side.S_CAN_VOTE %}<br class="portal-clear"><dt class="portal-poll-side-checkbox">{% if poll_side.S_IS_MULTI_CHOICE %}<input type="checkbox" name="vote_id[]" id="poll_side_{{ poll_side.TOPIC_ID }}_vote_{{ poll_option.POLL_OPTION_ID }}" value="{{ poll_option.POLL_OPTION_ID }}"{% if poll_option.POLL_OPTION_VOTED %} checked="checked"{% endif %} />{% else %}<input type="radio" name="vote_id[]" id="poll_side_{{ poll_side.TOPIC_ID }}_vote_{{ poll_option.POLL_OPTION_ID }}" value="{{ poll_option.POLL_OPTION_ID }}"{% if poll_option.POLL_OPTION_VOTED %} checked="checked"{% endif %} />{% endif %}</dt>{% endif %}
							{% if poll_side.S_DISPLAY_RESULTS %}<dd class="portal-poll-side-option-info">{% if poll_option.POLL_OPTION_RESULT == 0 %}{{ lang('NO_VOTES') }}{% else %}{{ poll_option.POLL_OPTION_PERCENT }}{% endif %}</dd>{% endif %}
						</dl>
					{% endfor %}
					{% else %}
						{{ lang('NO_OPTIONS') }}
					{% endif %}

					{% if poll_side.S_DISPLAY_RESULTS %}
						<dl>
							<dd class="resultbar"><p class="portal-side-poll-subtext">{{ lang('TOTAL_VOTES') }} : {{ poll_side.TOTAL_VOTES }}</p></dd>
						</dl>
					{% endif %}

					{% if poll_side.S_CAN_VOTE %}
						<dl class="portal-poll-vote">
							<dd class="resultbar"><input type="submit" name="update" value="{{ lang('SUBMIT_VOTE') }}" class="button1" /></dd>
						</dl>
					{% endif %}

					{% if not poll_side.S_DISPLAY_RESULTS %}
						<dl class="portal-poll-vote">
							<dd class="resultbar"><p class="portal-poll-subtext"><a href="{{ poll_side.U_VIEW_RESULTS }}">{{ lang('VIEW_RESULTS') }}</a></p></dd>
						</dl>
					{% endif %}

						<dl class="portal-poll-vote">
							<dd class="resultbar portal-poll-side-resultbar"><p class="portal-poll-subtext"><a href="{{ poll_side.U_VIEW_TOPIC }}">{{ lang('VIEW_TOPIC') }}</a></p></dd>
						</dl>
					</fieldset>
				</div>
				{% if poll_side.S_CAN_VOTE %}{{ poll_side.S_HIDDEN_FIELDS }}{% endif %}
			{% if poll_side.S_CAN_VOTE %}</form>{% endif %}
		{% endfor %}
		</div>
	{% else %}
	<div class="panel bg1 portal-no-margin">
		<div class="inner">
			<span><strong>{{ lang('NO_POLL') }}</strong></span>
		</div>
	</div>
	{% endif %}
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}
