{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
{% for random_member in loops.random_member %}
	<div class="portal-centered-content"><span class="portal-random-member-name">{{ random_member.USERNAME_FULL }}</span><br class="portal-clear">
		{% if random_member.AVATAR_IMG %}<a href="{{ random_member.U_VIEW_PROFILE }}">{{ random_member.AVATAR_IMG }}</a><br class="portal-clear">{% elseif definition.NO_AVATAR_IMG %}<a href="{{ random_member.U_VIEW_PROFILE }}"><img src="{{ T_THEME_PATH }}{{ definition.NO_AVATAR_IMG }}" alt="" /></a><br class="portal-clear">{% endif %}
		{% if random_member.RANK_TITLE %}<span class="gensmall">{{ random_member.RANK_TITLE }}</span><br class="portal-clear">{% endif %}
		{% if random_member.RANK_IMG %}{{ random_member.RANK_IMG }}<br class="portal-clear">{% endif %}
	</div>
	<br class="portal-clear">
	<span class="portal-title-span"><strong>{{ lang('RND_JOIN') }}{{ lang('COLON') }}</strong></span><span class="portal-data-span">{{ random_member.JOINED }}</span><br class="portal-clear">
	<span class="portal-title-span"><strong>{{ lang('RND_POSTS') }}{{ lang('COLON') }}</strong></span><span class="portal-data-span">{{ random_member.USER_POSTS }}</span><br class="portal-clear">
	{% if random_member.USER_OCC %}
		<span class="portal-title-span"><strong>{{ lang('RND_OCC') }}{{ lang('COLON') }}</strong></span><span class="portal-data-span"> &nbsp; {{ random_member.USER_OCC }}</span><br class="portal-clear">
	{% endif %}
	{% if random_member.USER_FROM %}
		<span class="portal-title-span"><strong>{{ lang('RND_FROM') }}{{ lang('COLON') }}</strong></span><span class="portal-data-span"> &nbsp; {{ random_member.USER_FROM }}</span><br class="portal-clear">
	{% endif %}
	{% if random_member.U_WWW %}
		<span class="portal-title-span"><a href="{{ random_member.U_WWW }}" title="{{ random_member.U_WWW }}"><strong>{{ lang('RND_WWW') }}</strong></a></span><br class="portal-clear">
	{% endif %}
{% endfor %}	
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}
