{{ definition.LR_BLOCK_H_L }}{% if definition.S_BLOCK_ICON %}
{% if definition.FA_ENABLED %}
<i class="icon b3p-icon fa {{ definition.FA_ICON }}" style="font-size: {{ definition.FA_SIZE }}px;" aria-hidden="true"></i>
{% else %}
<img src="{{ definition.IMAGE_SRC }}" width="{{ definition.IMAGE_WIDTH }}" height="{{ definition.IMAGE_HEIGHT }}" alt="" />
{% endif %}
{% endif %}{{ definition.TITLE }}{{ definition.LR_BLOCK_H_R }}
	<strong>{{ lang('ST_TOP') }}</strong><br />
	{{ B3_TOTAL_POSTS }}<br />
	{{ B3_TOTAL_TOPICS }}<br />
	{{ lang('ST_TOP_ANNS') }} <strong>{{ B3_ANNOUNCE_COUNT }}</strong><br />
	{{ lang('ST_TOP_STICKYS') }} <strong>{{ B3_STICKY_COUNT }}</strong><br />
	{{ lang('ST_TOT_ATTACH') }} <strong>{{ B3_TOTAL_ATTACH }}</strong><br />

	<hr class="dashed" />
	{{ B3_TOPICS_PER_DAY }}<br />
	{{ B3_POSTS_PER_DAY }}<br />
	{{ B3_USERS_PER_DAY }}<br />
	{{ B3_TOPICS_PER_USER }}<br />
	{{ B3_POSTS_PER_USER }}<br />
	{{ B3_POSTS_PER_TOPIC }}<br />
	<hr class="dashed" />

	{{ B3_TOTAL_USERS }}<br />
	{{ B3_NEWEST_USER }}
{{ definition.LR_BLOCK_F_L }}{{ definition.LR_BLOCK_F_R }}