<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<div class="forabg" role="row"><div class="inner"><ul class="topiclist"><li class="header"><dl><dt style="padding: 0px 0px 2px; white-space: nowrap; margin-bottom: 0px; margin-top: 0px;">' -->
<!-- DEFINE $LR_BLOCK_H_R = '</dt><dd></dd></dl></li></ul><ul class="topiclist forums"><li><dl><dt></dt><dd class="portal-side-wrapper"><div class="portal-side">' -->
<!-- DEFINE $LR_BLOCK_F_L = '</div></dd></dl></li></ul>' -->
<!-- DEFINE $LR_BLOCK_F_R = '</div></div><br class="portal-clear" />' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<div class="forabg" role="row"><div class="inner"><ul class="topiclist"><li class="header"><dl class="icon"><dt>' -->
<!-- DEFINE $C_BLOCK_H_R = '</dt><dd></dd></dl></li></ul>' -->
<!-- DEFINE $C_BLOCK_F_L = ' ' -->
<!-- DEFINE $C_BLOCK_F_R = '</div></div><br class="portal-clear" />' -->

<!-- Config for compact blocks //-->
<!-- DEFINE $CC_BLOCK_H_L = '<div class="forabg" role="row"><div class="inner"><ul class="topiclist"><li class="header"><dl class="icon">' -->
<!-- DEFINE $CC_BLOCK_H_R = '</dl></li></ul>' -->

<!-- Images-URL //-->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->

<!-- Vertical distance between left/right and center Blocks -->

<!-- DEFINE $BLOCK_DISTANCE = '10px' -->

<!-- show Icons in left/right Blocks? 0=no 1=yes -->
<!-- DEFINE $S_BLOCK_ICON = 1 -->

<!-- postbody top (default 1 by prosilver) 0=no 1=yes -->
<!-- DEFINE $S_POSTBODY_TOP = 1 -->

<!-- override the column width settings of the ACP for this style? 0=no 1=yes -->
<!-- DEFINE $S_COLUMNS_WIDTH_OVERRIDE = 0 -->

<!-- override the column width settings of the ACP - set the width if enabled -->
<!-- DEFINE $PORTAL_LEFT_COLUMN_OVERRIDE = '200' -->
<!-- DEFINE $PORTAL_RIGHT_COLUMN_OVERRIDE = '200' -->